.page-wrapper  .content {
    padding: 30px;
}


.top-nav-search form {
    margin-top: 10px;
    position: relative;
    width: 230px;
}

.top-nav-search .form-control {
    border-radius: 50px;
    height: 40px;
    padding: 10px 50px 10px 15px;
}

.top-nav-search .btn {
    background-color: transparent;
    border-color: transparent;
    color: #999;
    min-height: 40px;
    padding: 7px 15px;
    position: absolute;
    right: 0;
    top: 0;
}

table.table-striped.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}
.full-table tr th {
    white-space: nowrap;
}
.full-table tr td {
    white-space: nowrap;
}
