<div class="wrapper wrapper-content animated fadeInRight">


    <!-- Page Content -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-user-secret"></i></span>
                    <div class="dash-widget-info">
                        <h3>9/97</h3>
                        <span>Absent</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                    <div class="dash-widget-info">
                        <h3>44</h3>
                        <span>Estimates</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-calendar"></i></span>
                    <div class="dash-widget-info">
                        <h3>12</h3>
                        <span>Upcoming Events</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                    <div class="dash-widget-info">
                        <h3>97</h3>
                        <span>Employees</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Total Assets</h3>
                            <div id="bar-charts"></div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Reimbursement Overview</h3>
                            <div id="line-charts"></div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Billing Status</h3>
                            <div id="area-charts"></div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Attendance Status</h3>
                            <div id="pie-charts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Billing</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-nowrap custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Invoice ID</th>
                                    <th>Client</th>
                                    <th>Due Date</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="invoice-view.html">#INV-0001</a></td>
                                    <td>
                                        <h2><a href="#">PLN</a></h2>
                                    </td>
                                    <td>11 Mar 2019</td>
                                    <td>Rp. 2.121.809</td>
                                    <td>
                                        <span class="badge badge-success-border">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="invoice-view.html">#INV-0002</a></td>
                                    <td>
                                        <h2><a href="#">Skinet</a></h2>
                                    </td>
                                    <td>8 Feb 2019</td>
                                    <td>Rp. 4.000.000</td>
                                    <td>
                                        <span class="badge badge-success-border">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="invoice-view.html">#INV-0003</a></td>
                                    <td>
                                        <h2><a href="#">Digital Ocean</a></h2>
                                    </td>
                                    <td>23 Aug 2019</td>
                                    <td>$ 60</td>
                                    <td>
                                        <span class="badge badge-danger-border">Unpaid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="invoice-view.html">#INV-0004</a></td>
                                    <td>
                                        <h2><a href="#">CloudKilat</a></h2>
                                    </td>
                                    <td>23 Aug 2019</td>
                                    <td>Rp 800.000</td>
                                    <td>
                                        <span class="badge badge-danger-border">Unpaid</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="invoices.html">View all billing</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Reimbursement</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table table-nowrap mb-0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Employee</th>
                                    <th>Paid Date</th>
                                    <th>Paid Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">#REI-0001</a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Harry Junaedi <span>Driver</span></a>
                                        </h2>
                                    </td>
                                    <td>11 Mar 2019</td>
                                    <td>Rp. 520.000</td>
                                </tr>
                                <tr>
                                    <td><a href="#">#REI-0001</a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Hilmi <span>Driver</span></a>
                                        </h2>
                                    </td>
                                    <td>15 Mar 2019</td>
                                    <td>Rp. 520.000</td>
                                </tr>
                                <tr>
                                    <td><a href="#">#REI-0001</a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Harry Junaedi <span>Driver</span></a>
                                        </h2>
                                    </td>
                                    <td>11 Apr 2019</td>
                                    <td>Rp. 300.000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="payments.html">View all reimbursement</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Outpatient</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 table-nowrap">
                                <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Dependent</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                    <th class="text-right">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Agus Ridaryanto <span>Engineer</span></a>
                                        </h2>
                                    </td>
                                    <td>Saskia Febriana</td>
                                    <td>19 Mar 19</td>
                                    <td>Rp.210.000</td>
                                    <td>
                                        <span class="badge badge-danger-border">Unpaid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Agus Ridaryanto <span>Engineer</span></a>
                                        </h2>
                                    </td>
                                    <td>-</td>
                                    <td>19 Mar 19</td>
                                    <td>Rp.310.000</td>
                                    <td>
                                        <span class="badge badge-danger-border">Unpaid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Agus Ridaryanto <span>Engineer</span></a>
                                        </h2>
                                    </td>
                                    <td>Mathia Affianti</td>
                                    <td>19 Mar 19</td>
                                    <td>Rp.310.000</td>
                                    <td>
                                        <span class="badge badge-success-border">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Agus Ridaryanto <span>Engineer</span></a>
                                        </h2>
                                    </td>
                                    <td>Adam Adrian Malik</td>
                                    <td>19 Mar 19</td>
                                    <td>Rp.310.000</td>
                                    <td>
                                        <span class="badge badge-success-border">Paid</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Achmad Macfuld <span>Management Representatives</span></a>
                                        </h2>
                                    </td>
                                    <td>-</td>
                                    <td>19 Mar 19</td>
                                    <td>Rp.510.000</td>
                                    <td>
                                        <span class="badge badge-success-border">Paid</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="clients.html">View all clients</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Upcoming Birthday</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Murtala <span>IT Staff</span></a>
                                        </h2>
                                    </td>
                                    <td>General Support</td>
                                    <td> a week ago</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Bambang BS <span>Chief Inspector</span></a>
                                        </h2>
                                    </td>
                                    <td>Quality Assurance</td>
                                    <td><i class="fa fa-gift text-primary"></i> Today</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Ramadi Widyardiono <span>Business Development Manager</span></a>
                                        </h2>
                                    </td>
                                    <td>Business Development</td>
                                    <td>04 Aug</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Atty Boedimilyarti <span>Director</span></a>
                                        </h2>
                                    </td>
                                    <td>Management</td>
                                    <td>11 Aug</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Heriyanto <span>Office Boy</span></a>
                                        </h2>
                                    </td>
                                    <td>General Support</td>
                                    <td>13 Aug</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="projects.html">View all birthday</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Complaints</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 table-nowrap">
                                <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Date</th>
                                    <th>Solved</th>
                                    <th>To</th>
                                    <th>Description</th>
                                    <th class="text-right">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Aliyuladzim<span>Engineer</span></a>
                                        </h2>
                                    </td>
                                    <td>09 Jul 19</td>
                                    <td>-</td>
                                    <td>IT</td>
                                    <td>Virus Computer</td>
                                    <td>
                                        <span class="badge badge-danger-border">Open</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Aliyuladzim<span>Engineer</span></a>
                                        </h2>
                                    </td>
                                    <td>19 Mar 19</td>
                                    <td>21 Mar 19</td>
                                    <td>IT</td>
                                    <td>Internet Mati</td>
                                    <td>
                                        <span class="badge badge-success-border">Done</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a href="client-profile.html">Subekhi<span>Office Boy</span></a>
                                        </h2>
                                    </td>
                                    <td>19 Mar 19</td>
                                    <td>21 Mar 19</td>
                                    <td>GA</td>
                                    <td>Hanggar Mati Lampu</td>
                                    <td>
                                        <span class="badge badge-success-border">Done</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="clients.html">View all complaints</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-table">
                    <div class="card-header">
                        <h3 class="card-title mb-0">Licenses</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 table-nowrap">
                                <thead>
                                <tr>
                                    <th>License Name</th>
                                    <th>Employee</th>
                                    <th>Expired Date</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="javascript:void(0);"><i></i>A4 - Motor Turbin (2)</a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Purwanto <span>Inspector</span></a>
                                        </h2>
                                    </td>
                                    <td>03 Aug 19</td>
                                    <td><span class="badge badge-danger">Mandatory</span></td>
                                    <td><span class="badge badge-danger-border">Expired</span></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);"><i></i>AVSEC</a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Nelson Siahaan  <span>FOO</span></a>
                                        </h2>
                                    </td>
                                    <td>03 Aug 19</td>
                                    <td><span class="badge badge-danger">Mandatory</span></td>
                                    <td><span class="badge badge-warning-border">Expiring</span></td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);"><i></i>SMS</a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-19.jpg"></a>
                                            <a ui-sref="index.profile">Nelson Siahaan  <span>FOO</span></a>
                                        </h2>
                                    </td>
                                    <td>03 Aug 19</td>
                                    <td><span class="badge badge-danger">Mandatory</span></td>
                                    <td><span class="badge badge-warning-border">Expiring</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="projects.html">View all license</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->


</div>

<script src="../js/theme/chart.js"></script>
