<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Announcement</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_announcement"><i class="fa fa-plus"></i> Add Announcement</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">Until</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Status</option>
                    <option>Open</option>
                    <option>Closed</option>
                    <option>Cancelled</option>
                </select>
                <label class="focus-label">Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Office</th>
                        <th>To</th>
                        <th>By</th>
                        <th>From</th>
                        <th>Until</th>
                        <th>File</th>
                        <th class="text-center">Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="javascript:void(0);">Pengumuman Libur Lebaran</a></td>
                        <td>All Office</td>
                        <td>All</td>
                        <td>All</td>
                        <td>30 May 2019</td>
                        <td>10 Jun 2019</td>
                        <td><a class="btn btn-sm btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Open
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Open</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Closed</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Cancelled</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_announcement"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_announcement"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="javascript:void(0);">Training SMS</a></td>
                        <td>Main Office</td>
                        <td>Maintenance</td>
                        <td>Email</td>
                        <td>10 May 2019</td>
                        <td>11 May 2019</td>
                        <td><a class="btn btn-sm btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-danger"></i> Closed
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Open</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Closed</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Cancelled</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_announcement"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_announcement"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Announcement Modal -->
<div class="modal custom-modal fade" id="add_announcement" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Announcement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Title <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Until</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Office <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>All Office</option>
                            <option>Main Office</option>
                            <option>Surabaya Site</option>
                            <option>Kalimantan Site</option>
                            <option>Makassar Site</option>
                            <option>Bontang Site</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>To <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>All</option>
                            <option>Management</option>
                            <option>Maintenance</option>
                            <option>Operation</option>
                            <option>Logistic</option>
                            <option>Safety</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>By <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>All</option>
                            <option>Web</option>
                            <option>Email</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Upload your Announcement</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                            <span class="form-text text-muted">* Recommended PDF file format</span>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Add Announcement Modal -->

<!-- Edit Announcement Modal -->
<div class="modal custom-modal fade" id="edit_announcement" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Announcement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Title <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Until</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Office <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>All Office</option>
                            <option>Main Office</option>
                            <option>Surabaya Site</option>
                            <option>Kalimantan Site</option>
                            <option>Makassar Site</option>
                            <option>Bontang Site</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>To <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>All</option>
                            <option>Management</option>
                            <option>Maintenance</option>
                            <option>Operation</option>
                            <option>Logistic</option>
                            <option>Safety</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>By <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>All</option>
                            <option>Web</option>
                            <option>Email</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Upload your Announcement</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                            <span class="form-text text-muted">* Recommended PDF file format</span>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Announcement Modal -->

<!-- Delete Announcement Modal -->
<div class="modal custom-modal fade" id="delete_announcement" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to delete this letter?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Announcement Modal -->