<!-- Page Content -->

<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Attendance View</h4>
        </div>
        <!--
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a href="attendance-edit.html" class="btn add-btn"><i class="fa fa-edit"></i> Edit</a>
        </div>
        -->
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a ui-sref="index.attendance" class="btn btn-outline-dark btn-sm"><i class="fa fa-close"></i> Close </a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-12 col-8 text-right m-b-30">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-white">CSV</button>
                <button class="btn btn-white">PDF</button>
                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
            </div>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <ul class="list-unstyled m-b-0 text-center">
                    <li><h4 class="attendance-title">PT. Derazona Air Service</h4></li>
                    <li><h5>Hours Worked - Regular &#47; Overtime</h5></li>
                    <li><h5>Month : Jan - 2018</h5></li>
                </ul>

                <div class="row">
                    <div class="col-md-6 m-b-20">
                    </div>
                    <div class="col-md-6 m-b-20">
                        <div class="pull-right">
                            <ul class="list-unstyled">
                                <li><i>Printed: <span>14 Feb 2018</span></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 m-b-20">
                        <table>
                            <tbody>
                            <tr>
                                <td>Employee No. </td>
                                <td>&nbsp;:&nbsp;</td>
                                <td>&nbsp;DAS000000001</td>
                            </tr>
                            <tr>
                                <td>Name </td>
                                <td>&nbsp;:&nbsp;</td>
                                <td>&nbsp;<strong>Atty Boedimilyarti &#40; M&#47;1 &#41;</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 m-b-20">
                        <div>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Position </td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>&nbsp;Director</td>
                                </tr>
                                <tr>
                                    <td>Department </td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>&nbsp;Management</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped custom-table m-b-0">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Day</th>
                                <th>Hol</th>
                                <th>Workhour</th>
                                <th>Absent</th>
                                <th>Presence</th>
                                <th>Overtime</th>
                                <th>Trdn</th>
                                <th>Early</th>
                                <th>OT in Hrs</th>
                                <th>Description</th>
                                <th>Remark</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>16-12-2017</td>
                                <td>Sun</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>17-12-2017</td>
                                <td>Mon</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:15-18:30</td>
                                <td>16:15-18:30</td>
                                <td>-</td>
                                <td>-</td>
                                <td>02:15</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>18-12-2017</td>
                                <td>Tue</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td class="text-danger">Medical Leave</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Check up</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>19-12-2017</td>
                                <td>Wed</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>06:45-17:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>00:15</td>
                                <td>01:00</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>20-12-2017</td>
                                <td>Thu</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>21-12-2017</td>
                                <td>Fri</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-12:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Permission</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>22-12-2017</td>
                                <td>Sat</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>23-12-2017</td>
                                <td>Sun</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>24-12-2017</td>
                                <td>Mon</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:15-18:30</td>
                                <td>16:15-18:30</td>
                                <td>-</td>
                                <td>-</td>
                                <td>02:15</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>25-12-2017</td>
                                <td>Tue</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>26-12-2017</td>
                                <td>Wed</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>27-12-2017</td>
                                <td>Thu</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>28-12-2017</td>
                                <td>Fri</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td class="text-danger">Loss of Pay</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>No reason</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>29-12-2017</td>
                                <td>Sat</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>30-12-2017</td>
                                <td>Sun</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>01-01-2018</td>
                                <td>Mon</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>02-01-2018</td>
                                <td>Tue</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td class="text-danger">Casual Leave</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Family Trip</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td>03-01-2018</td>
                                <td>Wed</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td class="text-danger">Casual Leave</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Family Trip</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td>04-01-2018</td>
                                <td>Thu</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>05-01-2018</td>
                                <td>Fri</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>06-01-2018</td>
                                <td>Sat</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>07-01-2018</td>
                                <td>Sun</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>08-01-2018</td>
                                <td>Mon</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>09-01-2018</td>
                                <td>Tue</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>10-01-2018</td>
                                <td>Wed</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>11-01-2018</td>
                                <td>Thu</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>12-01-2018</td>
                                <td>Fri</td>
                                <td class="text-success">No</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>13-01-2018</td>
                                <td>Sat</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>14-01-2018</td>
                                <td>Sun</td>
                                <td class="text-danger">Yes</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>15-01-2018</td>
                                <td>Mon</td>
                                <td class="text-success">Yes</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>07:00-16:00</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-7 col-8 text-right m-b-30">
                <a ui-sref="index.attendance-edit" class="btn add-btn"><i class="fa fa-edit"></i> Edit </a>
            </div>
            -->
            <div class="submit-section">
                <button ui-sref="index.attendance-edit" class="btn btn-primary submit-btn"><i class="fa fa-edit"></i> Edit</button>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->