<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Attendance Edit</h4>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <ul class="list-unstyled m-b-0 text-center">
                    <li><h4 class="attendance-title">PT. Derazona Air Service</h4></li>
                    <li><h5>Hours Worked - Regular &#47; Overtime</h5></li>
                    <li><h5>Month : Jan - 2018</h5></li>
                </ul>

                <div class="row">
                    <div class="col-md-6 m-b-20">
                    </div>
                    <div class="col-md-6 m-b-20">
                        <div class="pull-right">
                            <ul class="list-unstyled">
                                <li><i>Printed: <span>14 Feb 2018</span></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 m-b-20">
                        <table>
                            <tbody>
                            <tr>
                                <td>Employee No. </td>
                                <td>&nbsp;:&nbsp;</td>
                                <td>&nbsp;DAS000000001</td>
                            </tr>
                            <tr>
                                <td>Name </td>
                                <td>&nbsp;:&nbsp;</td>
                                <td>&nbsp;<strong>Atty Boedimilyarti &#40; M&#47;1 &#41;</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 m-b-20">
                        <div>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Position </td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>&nbsp;Director</td>
                                </tr>
                                <tr>
                                    <td>Department </td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>&nbsp;Management</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table table-nowrap mb-0">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Hol</th>
                                    <th>Workhour</th>
                                    <th>Absent</th>
                                    <th>Presence</th>
                                    <th>Overtime</th>
                                    <th>Trdn</th>
                                    <th>Early</th>
                                    <th>OT in Hrs</th>
                                    <th>Description</th>
                                    <th>Remark</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>16-12-2017</td>
                                    <td class="text-danger">Sun</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="form-control select">
                                                <option class="text-danger">Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="form-control select">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>17-12-2017</td>
                                    <td>Mon</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>18-12-2017</td>
                                    <td>Tue</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>19-12-2017</td>
                                    <td>Wed</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>20-12-2017</td>
                                    <td>Thu</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>21-12-2017</td>
                                    <td>Fri</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>22-12-2017</td>
                                    <td class="text-danger">Sat</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>23-12-2017</td>
                                    <td class="text-danger">Sun</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>24-12-2017</td>
                                    <td>Mon</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>25-12-2017</td>
                                    <td>Tue</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>26-12-2017</td>
                                    <td>Wed</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>27-12-2017</td>
                                    <td>Thu</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>28-12-2017</td>
                                    <td>Fri</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>29-12-2017</td>
                                    <td class="text-danger">Sat</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>30-12-2017</td>
                                    <td class="text-danger">Sun</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>01-01-2018</td>
                                    <td>Mon</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>02-01-2018</td>
                                    <td>Tue</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>03-01-2018</td>
                                    <td>Wed</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>04-01-2018</td>
                                    <td>Thu</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>05-01-2018</td>
                                    <td>Fri</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>06-01-2018</td>
                                    <td class="text-danger">Sat</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>07-01-2018</td>
                                    <td class="text-danger">Sun</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>08-01-2018</td>
                                    <td>Mon</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>09-01-2018</td>
                                    <td>Tue</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>10-01-2018</td>
                                    <td>Wed</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>11-01-2018</td>
                                    <td>Thu</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>12-01-2018</td>
                                    <td>Fri</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>13-01-2018</td>
                                    <td class="text-danger">Sat</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>14-01-2018</td>
                                    <td class="text-danger">Sun</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-yes">Yes</option>
                                                <option value="holiday-no">No</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>Day Off</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                <tr>
                                    <td>15-01-2018</td>
                                    <td>Mon</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option value="holiday-no">No</option>
                                                <option value="holiday-yes">Yes</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>7.00 - 16.00</td>
                                    <td>
                                        <div class="form-group-sm">
                                            <select class="select floating">
                                                <option>-</option>
                                                <option>Casual Leave</option>
                                                <option>Medical Leave</option>
                                                <option>Loss of Pay</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                    <td><input class="form-control input-sm" type="text"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-section">
                <button ui-sref="index.attendance-view" class="btn btn-primary submit-btn">Save &amp; update</button>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->