<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payroll Setting - Basic Salary</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_basic_setting"><i class="fa fa-plus"></i> Add New</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.basic-salary">Range</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.basic-salary-employee">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.basic-salary-psn">PSN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Position</th>
                                <th>Division</th>
                                <th>Department</th>
                                <th>Grade</th>
                                <th>Currency</th>
                                <th>Min.</th>
                                <th>Max.</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>General Support Manager</td>
                                <td>-</td>
                                <td>General Support</td>
                                <td>2A</td>
                                <td>IDR</td>
                                <td>10,000,000.00</td>
                                <td>50,000,000.00</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_basic_setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_basic_setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GA Supervisor</td>
                                <td>General Admission</td>
                                <td>General Support</td>
                                <td>3A</td>
                                <td>IDR</td>
                                <td>7,000,000.00</td>
                                <td>30,000,000.00</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_basic_setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_basic_setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>GA Staff</td>
                                <td>General Admission</td>
                                <td>General Support</td>
                                <td>4B</td>
                                <td>IDR</td>
                                <td>3,000,000.00</td>
                                <td>20,000,000.00</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_basic_setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_basic_setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Office Boy</td>
                                <td>General Admission</td>
                                <td>General Support</td>
                                <td>5B</td>
                                <td>IDR</td>
                                <td>3,000,000.00</td>
                                <td>10,000,000.00</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_basic_setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_basic_setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Driver</td>
                                <td>General Admission</td>
                                <td>General Support</td>
                                <td>5C</td>
                                <td>IDR</td>
                                <td>3,000,000.00</td>
                                <td>10,000,000.00</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_basic_setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_basic_setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->

<!-- Add Basic Salary Modal -->
<div id="add_basic_setting" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Commission / Bonus List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Job Title & Grade <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Office Boy - 5A</option>
                            <option>Office Boy - 5B</option>
                            <option>Office Boy - 5C</option>
                            <option>Driver - 5A</option>
                            <option>Driver - 5B</option>
                            <option>Driver - 5C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Currency <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>IDR</option>
                            <option>USD</option>
                            <option>Euro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Min. <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="0.00">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Max. <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="0.00">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Basic Salary Modal -->

<!-- Edit Basic Salary Modal -->
<div id="edit_basic_setting" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Commission / Bonus List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Job Title & Grade <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Office Boy - 5A</option>
                            <option>Office Boy - 5B</option>
                            <option>Office Boy - 5C</option>
                            <option>Driver - 5A</option>
                            <option>Driver - 5B</option>
                            <option>Driver - 5C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="select">
                            <option>IDR</option>
                            <option>USD</option>
                            <option>Euro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Min. <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="0.00">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Max. <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="0.00">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Basic Salary Modal -->

<!-- Delete Basic Salary Modal -->
<div class="modal custom-modal fade" id="delete_basic_setting" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Basic Salary</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Basic Salary Modal -->

