<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payslip List</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Add Leave</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Payment Cycle <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>Monthly</option>
                                <option>Weekly</option>
                                <option>Biweekly</option>
                                <option>Annual</option>
                            </select>
                            <label class="focus-label">Select Cycle</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Period <span class="text-danger">*</span></label>
                    <div class="col-lg-3">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019">
                        </div>
                    </div>
                    <div class="col-lg-1 text-md-center">To
                    </div>
                    <div class="col-lg-3">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019">
                        </div>
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Date <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="25 April 2019">
                        </div>
                    </div>
                </div>
                -->
                <div class="row">
                    <label class="col-lg-3 col-form-label">Office / Site</label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Office</option>
                                <option>Head Office</option>
                                <option>Surabaya Site</option>
                                <option>Bontang Site</option>
                                <option>Makassar Site</option>
                            </select>
                            <label class="focus-label">Select Office / Site</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Department</label>
                    <div class="col-lg-5">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Department</option>
                                <option>Management</option>
                                <option>Business Development</option>
                                <option>Operation</option>
                                <option>Maintenance</option>
                                <option>Logistic</option>
                                <option>Quality Assurance</option>
                                <option>Safety & Security</option>
                                <option>Finance & Accounting</option>
                                <option>General Support</option>
                            </select>
                            <label class="focus-label">Select Department</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-2">
                        <div class="">
                            <a href="#" class="btn btn-success btn-block"> Search </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a href="#" class="btn btn-secondary btn-block"> Update </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.bonus">Commission / Bonus List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.bonus-employee-list">Employee List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Employee No.</th>
                                <th>Office</th>
                                <th>Department</th>
                                <th>Name</th>
                                <th>Payment Period</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Aliyuladzim <span>Technical Record</span></a>
                                    </h2>
                                </td>
                                <td>DAS 00000022</td>
                                <td>Main Office</td>
                                <td>Maintenance</td>
                                <td>AMIMS</td>
                                <td>March 2019</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_bonus"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_bonus"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_bonus"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Rissa Mawat <span>Engineering</span></a>
                                    </h2>
                                </td>
                                <td>DAS 00000022</td>
                                <td>Main Office</td>
                                <td>Maintenance</td>
                                <td>AMIMS</td>
                                <td>March 2019</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_bonus"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_bonus"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_bonus"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Darta Cahyadi <span>Engineering</span></a>
                                    </h2>
                                </td>
                                <td>DAS 00000023</td>
                                <td>Main Office</td>
                                <td>Maintenance</td>
                                <td>AMIMS</td>
                                <td>March 2019</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_bonus"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_bonus"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_bonus"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->

<!-- Add Bonus Modal -->
<!--
<div id="add_bonus" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Commission / Bonus List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Select Employee <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                            <span class="form-text text-muted">Will be displayed in Payslip</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Payment Cycle <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Biweekly</option>
                            <option>Annual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Overtime Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                            <span class="form-text text-muted">Will be paid in this payment period</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio radio-danger">
                                <input type="radio" name="radio2" id="radio3" value="option1">
                                <label for="radio3">
                                    <strong>Selected Employee(s)</strong>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Employee <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <select class="select">
                                            <option>Search</option>
                                            <option>Atty Boedimilyarti</option>
                                            <option>Bambang Budi Susilo</option>
                                            <option>Antun Martono</option>
                                            <option>Edhi Soeharto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="radio radio-danger">
                                <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                <label for="radio4">
                                    <strong>All Employee</strong>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Office / Site</label>
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <select class="select">
                                            <option>All Office</option>
                                            <option>Head Office</option>
                                            <option>Surabaya Site</option>
                                            <option>Bontang Site</option>
                                            <option>Makassar Site</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-lg-3 col-form-label">Department</label>
                                <div class="col-lg-5">
                                    <div class="form-group form-focus select-focus">
                                        <select class="select">
                                            <option>All Department</option>
                                            <option>Management</option>
                                            <option>Business Development</option>
                                            <option>Operation</option>
                                            <option>Maintenance</option>
                                            <option>Logistic</option>
                                            <option>Quality Assurance</option>
                                            <option>Safety & Security</option>
                                            <option>Finance & Accounting</option>
                                            <option>General Support</option>
                                        </select>
                                        <label class="focus-label">Select Department</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Currency</label>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <select class="select">
                                    <option>IDR</option>
                                    <option>USD</option>
                                    <option>Euro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Amount Based On</label>
                        <div class="col-lg-8">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> The Specified Amount  </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Percentage of Basic Salary </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Amount <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
-->
<!-- /Add Bonus Modal -->

<!-- View Bonus Modal -->
<div id="view_bonus" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Commission / Bonus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <label class="col-lg-4">Name</label>
                        <div class="col-lg-8">
                            AMIMS
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Payment Cycle</label>
                        <div class="col-lg-8">
                            Monthly
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Payment Period</label>
                        <div class="col-lg-8">
                            March 2019
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Name Employee</label>
                        <div class="col-lg-8">
                            Aliyuladzim
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Job title</label>
                        <div class="col-lg-8">
                            Technical Record
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Department</label>
                        <div class="col-lg-8">
                            Maintenance
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Amount Based On</label>
                        <div class="col-lg-8">
                            The Specified Amount
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Currency</label>
                        <div class="col-lg-8">
                            IDR
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Amount</label>
                        <div class="col-lg-8">
                            5,000,000.00
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Description</label>
                        <div class="col-lg-8">
                            Insentif AMIMS Development
                        </div>
                    </div>
                    <hr>
                    <div class="text-right mb-4 clearfix">
                        <div class="col-sm-12 col-8 text-right m-b-30">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-white">PDF</button>
                                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /View bonus Modal -->

<!-- Edit Bonus Modal -->
<div id="edit_bonus" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Commission / Bonus List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Select Employee <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                            <span class="form-text text-muted">Will be displayed in Payslip</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Payment Cycle <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Biweekly</option>
                            <option>Annual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Overtime Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                            <span class="form-text text-muted">Will be paid in this payment period</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio radio-danger">
                                <input type="radio" name="radio2" id="radio3" value="option1">
                                <label for="radio3">
                                    <strong>Selected Employee(s)</strong>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Employee <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <select class="select">
                                            <option>Search</option>
                                            <option>Atty Boedimilyarti</option>
                                            <option>Bambang Budi Susilo</option>
                                            <option>Antun Martono</option>
                                            <option>Edhi Soeharto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="radio radio-danger">
                                <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                <label for="radio4">
                                    <strong>All Employee</strong>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Office / Site</label>
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <select class="select">
                                            <option>All Office</option>
                                            <option>Head Office</option>
                                            <option>Surabaya Site</option>
                                            <option>Bontang Site</option>
                                            <option>Makassar Site</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-lg-3 col-form-label">Department</label>
                                <div class="col-lg-5">
                                    <div class="form-group form-focus select-focus">
                                        <select class="select">
                                            <option>All Department</option>
                                            <option>Management</option>
                                            <option>Business Development</option>
                                            <option>Operation</option>
                                            <option>Maintenance</option>
                                            <option>Logistic</option>
                                            <option>Quality Assurance</option>
                                            <option>Safety & Security</option>
                                            <option>Finance & Accounting</option>
                                            <option>General Support</option>
                                        </select>
                                        <label class="focus-label">Select Department</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Currency</label>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <select class="select">
                                    <option>IDR</option>
                                    <option>USD</option>
                                    <option>Euro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Amount Based On</label>
                        <div class="col-lg-8">
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> The Specified Amount  </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Percentage of Basic Salary </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Amount <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="text-right mb-4 clearfix">
                        <div class="col-sm-12 col-8 text-right m-b-30">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-white">PDF</button>
                                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Bonus Modal -->

<!-- Delete bonus Modal -->
<div class="modal custom-modal fade" id="delete_bonus" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Commission / Bonus</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete bonus Modal -->


