<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Certificates</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_certificates"><i class="fa fa-plus"></i> Add Certificates</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">Until</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Status</option>
                    <option>Open</option>
                    <option>Expiring</option>
                    <option>Expired</option>
                </select>
                <label class="focus-label">Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Certificates ID</th>
                        <th>Certificates Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>File</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="javascript:void(0);"><i></i>DAS001-2016</a></td>
                        <td><a href="javascript:void(0);"><i></i>ISO 9001</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td>-</td>
                        <td><span class="badge badge-success-border">Open</span></td>
                        <td><a class="btn btn-sm btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_certificates"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_certificates"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="javascript:void(0);"><i></i>DAS002-2016</a></td>
                        <td><a href="javascript:void(0);"><i></i>OHSAS</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td>-</td>
                        <td><span class="badge badge-warning-border">Expiring</span></td>
                        <td><a class="btn btn-sm btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_certificates"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_certificates"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="javascript:void(0);"><i></i>DAS003-2018</a></td>
                        <td><a href="javascript:void(0);"><i></i>BARS</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td>Proses pengurusan</td>
                        <td><span class="badge badge-danger-border">Expired</span></td>
                        <td><a class="btn btn-sm btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_certificates"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_certificates"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Certificates Modal -->
<div class="modal custom-modal fade" id="add_certificates" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Certificates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Certificates ID <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Certificates Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Until</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Status <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Active </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Inactive </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Upload your Document</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                            <span class="form-text text-muted">* Recommended PDF file format</span>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Add Certificates Modal -->

<!-- Edit Certificates Modal -->
<div class="modal custom-modal fade" id="edit_certificates" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Certificates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Certificates ID <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Certificates Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Until</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Status <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Active </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Inactive </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Upload your Document</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                            <span class="form-text text-muted">* Recommended PDF file format</span>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Certificates Modal -->

<!-- Delete Certificates Modal -->
<div class="modal custom-modal fade" id="delete_certificates" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Certificates</h3>
                    <p>Are you sure want to delete this Certificates?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Certificates Modal -->