<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Social Security (BPJS) Contribution Percentage</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_wage"><i class="fa fa-plus"></i> Add New</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-10">
            <form>
                <div class="submit-section">
                    <span class="form-text text-muted"> It is the setting of contibution percentage that will be paid by both company and employee for social security insurance. The percentage is calculated from employee's wage (fixed income).</span>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label"></label>
                    <label class="col-lg-4 col-form-label"><strong>Company</strong> </label>
                    <label class="col-lg-4 col-form-label"><strong>Employee</strong> </label>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Life Insurance (JKM) </label>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-lg-4 form-text text-muted">Max Value Zero means unlimited</span>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Work Accident Insurance (JKK)</label>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-lg-4 form-text text-muted">Max Value Zero means unlimited</span>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Pesion Plan (JHT)</label>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-lg-4 form-text text-muted">Max Value Zero means unlimited</span>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Pesion Fund (JP)</label>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-lg-4 form-text text-muted">Max Value Zero means unlimited</span>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label">Health Insurance (JKN)</label>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-lg-4 form-text text-muted">Max Value Zero means unlimited</span>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input class="form-control floating" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <span class="form-text text-muted">Example: 8000000 (Maximum wage value JKN) * 4% (company contribution) = 320000. So input a maximum value of 320000 for JKN company contribution.</span>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->