<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">Divisions</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_divisions"><i class="fa fa-plus"></i> Add Divisions</a>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th style="width: 30px;">#</th>
                        <th>Divisions </th>
                        <th>Department </th>
                        <th>Number of Employee </th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>General Admission</td>
                        <td>General Support</td>
                        <td>4</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>HRD</td>
                        <td>General Support</td>
                        <td>2</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Legal</td>
                        <td>General Support</td>
                        <td>1</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>IT</td>
                        <td>General Support</td>
                        <td>3</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Accounting</td>
                        <td>Finance & Accounting</td>
                        <td>3</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Finance</td>
                        <td>Finance & Accounting</td>
                        <td>3</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Store</td>
                        <td>Logistic</td>
                        <td>3</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Purchasing</td>
                        <td>Logistic</td>
                        <td>1</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_divisions"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_divisions"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Divisions Modal -->
<div id="add_divisions" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Division</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Parent Name <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select Department</option>
                            <option>Management</option>
                            <option>Business Development</option>
                            <option>Operation</option>
                            <option>Maintenance</option>
                            <option>Logistic</option>
                            <option>Quality Assurance</option>
                            <option>Safety & Security</option>
                            <option>Finance & Accounting</option>
                            <option>General Support</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Divisions Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Division Modal -->

<!-- Edit Division Modal -->
<div id="edit_divisions" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Parent Name <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select Department</option>
                            <option>Management</option>
                            <option>Business Development</option>
                            <option>Operation</option>
                            <option>Maintenance</option>
                            <option>Logistic</option>
                            <option>Quality Assurance</option>
                            <option>Safety & Security</option>
                            <option>Finance & Accounting</option>
                            <option>General Support</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Divisions Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit divisions Modal -->

<!-- Delete divisions Modal -->
<div class="modal custom-modal fade" id="delete_divisions" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Divisions</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete divisions Modal -->