<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">My Profile</h4>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="card-box mb-0">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 class="user-name m-t-0 mb-0">Antun Martono</h3>
                                    <h6 class="text-muted">Operation Manager</h6>
                                    <div class="staff-id">Employee ID : DAS00000006</div>
                                    <div class="small doj text-muted">Date of Join : 1st Jan 1990</div>
                                    <div class="staff-id">Department : Operation</div>
                                    <div class="small doj text-muted">Office : Main Office</div>
                                    <div class="staff-msg small doj text-muted">Employment Status :</div>
                                    <div class=""><a class="btn btn-success btn-sm text-white" ui-sref="index.emp-employment">Full Time</a></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <div class="title">Phone:</div>
                                        <div class="text"><a href="">08112228374</a></div>
                                    </li>
                                    <li>
                                        <div class="title">Email:</div>
                                        <div class="text"><a href="">antun.martono@gmail.com</a></div>
                                    </li>
                                    <li>
                                        <div class="title">Office Email:</div>
                                        <div class="text"><a href="">antun.martono@derazona.com</a></div>
                                    </li>
                                    <li>
                                        <div class="title">Address:</div>
                                        <div class="text">1861 Bayonne Ave, Manchester Township</div>
                                    </li>
                                    <li>
                                        <div class="title">City:</div>
                                        <div class="text">Jakarta Timur, 08759</div>
                                    </li>
                                    <li>
                                        <div class="title">Reports to:</div>
                                        <div class="text">
                                            <div class="avatar-box">
                                                <div class="avatar avatar-xs">
                                                    <img src="img/profiles/avatar-16.jpg" alt="">
                                                </div>
                                            </div>
                                            <a ui-sref="index.profile">
                                                Atty Boedimilyarti
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pro-edit"><a data-target="#profile_info" data-toggle="modal" class="edit-icon"><i class="fa fa-pencil"></i></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-box tab-box">
        <div class="row user-tabs">
            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item"><a ui-sref="index.profile" data-toggle="tab" class="nav-link">Profile</a></li>
                    <li class="nav-item"><a ui-sref="index.emp-bank" data-toggle="tab" class="nav-link">Bank & Statutory <small class="text-danger">(Admin Only)</small></a></li>
                    <li class="nav-item"><a ui-sref="index.emp-projects" data-toggle="tab" class="nav-link">Projects & Training</a></li>
                    <li class="nav-item"><a ui-sref="index.emp-licenses" data-toggle="tab" class="nav-link active">Licenses</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        <!-- Period List -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Licenses ID</th>
                            <th>Licenses Name</th>
                            <th>Type</th>
                            <th>Duration</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>001-10-100</td>
                            <td><a href="javascript:void(0);"><i></i>A4 - Motor Turbin (2)</a></td>
                            <td><span class="badge badge-danger">Mandatory</span></td>
                            <td>1 Year</td>
                            <td>For Engineer</td>
                            <td><span class="badge badge-success-border">Active</span></td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>001</td>
                            <td><a href="javascript:void(0);"><i></i>AVSEC</a></td>
                            <td><span class="badge badge-danger">Mandatory</span></td>
                            <td>1 Year</td>
                            <td>All Staff</td>
                            <td><span class="badge badge-success-border">Active</span></td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>002</td>
                            <td><a href="javascript:void(0);"><i></i>SMS</a></td>
                            <td><span class="badge badge-warning text-white">Additional</span></td>
                            <td>2 Years</td>
                            <td>All Staff</td>
                            <td><span class="badge badge-success-border">Active</span></td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>003</td>
                            <td><a href="javascript:void(0);"><i></i>DCloud</a></td>
                            <td><span class="badge badge-success">Not Mandatory</span></td>
                            <td>None</td>
                            <td>All Staff</td>
                            <td><span class="badge badge-success-border">Active</span></td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>101</td>
                            <td><a href="javascript:void(0);"><i></i>EILTS</a></td>
                            <td><span class="badge badge-success">Not Mandatory</span></td>
                            <td>6 months</td>
                            <td>All Staff</td>
                            <td><span class="badge badge-danger-border">Inactive</span></td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Period List -->

    </div>
</div>
<!-- /Page Content -->


<!-- Profile Modal -->
<div id="profile_info" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-img-wrap edit-img">
                                <img class="inline-block" src="img/profiles/avatar-02.jpg" alt="user">
                                <div class="fileupload btn">
                                    <span class="btn-text">edit</span>
                                    <input class="upload" type="file">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" value="John">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" value="Doe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" value="4487 Snowbird Lane">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" value="New York">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" value="United States">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pin Code</label>
                                <input type="text" class="form-control" value="10523">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" value="631-889-3206">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Department</option>
                                    <option>Management</option>
                                    <option>Business Development</option>
                                    <option>Quality Assurance</option>
                                    <option>Finance & Accounting</option>
                                    <option>Safety & Security</option>
                                    <option>Operation</option>
                                    <option>Maintenance</option>
                                    <option>Logistic</option>
                                    <option>General Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Division <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Division</option>
                                    <option>-</option>
                                    <option>Accounting</option>
                                    <option>Finance</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Position <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Position</option>
                                    <option>Manager</option>
                                    <option>Supervisor</option>
                                    <option>Pilot</option>
                                    <option>HLO</option>
                                    <option>FOO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Office <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Office</option>
                                    <option>Main Office</option>
                                    <option>Surabaya Site</option>
                                    <option>Makassar Site</option>
                                    <option>Kalimantan Site</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Reports To <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>-</option>
                                    <option>Wilmer Deluna</option>
                                    <option>Lesley Grauer</option>
                                    <option>Jeffery Lalor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Profile Modal -->

<!-- Edit Licenses Modal -->
<div class="modal custom-modal fade" id="edit_licenses" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Licenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Licenses ID <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Licenses Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>Mandatory</option>
                            <option>Additional</option>
                            <option>Not Mandatory</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Duration</label>
                                <input placeholder="" class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option selected>None</option>
                                    <option>Years</option>
                                    <option>Months</option>
                                    <option>Weeks</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Status <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Active </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Inactive </label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Licenses Modal -->

<!-- Delete Licenses Modal -->
<div class="modal custom-modal fade" id="delete_licenses" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Licenses</h3>
                    <p>Are you sure want to delete this Licenses?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Licenses Modal -->