<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col">
            <h4 class="page-title">Employee</h4>
        </div>
        <div class="col-auto text-right float-right ml-auto m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
            <div class="view-icons">
                <a ui-sref="index.employees" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
                <a ui-sref="index.employees-list" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <!--
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee ID</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Designation</option>
                    <option>Web Developer</option>
                    <option>Web Designer</option>
                    <option>Android Developer</option>
                    <option>Ios Developer</option>
                </select>
                <label class="focus-label">Designation</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div> -->
    <!-- /Search Filter -->

    <!-- Print Button -->
    <div class="text-right mb-4 clearfix">
        <div class="col-sm-12 col-8 text-right m-b-30">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-white">CSV</button>
                <button class="btn btn-white">PDF</button>
                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
            </div>
        </div>
    </div>
    <!-- /Print Button -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <th>Joining date</th>
                        <th>BOD</th>
                        <th class="text-nowrap">Status</th>
                        <th class="text-right no-sort">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Ramadi Widyardiono <span>Business Development Manager</span></a>
                            </h2>
                        </td>
                        <td>DAS00000004</td>
                        <td>Business Development</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Nindya Ariantika <span>Marketing Staff</span></a>
                            </h2>
                        </td>
                        <td>DAS00000030</td>
                        <td>Business Development</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Antun Martono <span>Operation Manager</span></a>
                            </h2>
                        </td>
                        <td>DAS00000005</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Ongky Soetadi<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000007</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Budi Nuryulianto Indra<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000008</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-danger"></i> Resign
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Denni <span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000009</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Donny Muhamad Irawan<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000012</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Udi Juswanto<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000013</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Janji Tambunan<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000014</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Fiqih Ramadhan<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000015</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Moh. Priyana<span>Pilot</span></a>
                            </h2>
                        </td>
                        <td>DAS00000016</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a ui-sref="index.profile">Yuli Kristiarno<span>Dispatcher</span></a>
                            </h2>
                        </td>
                        <td>DAS00000012</td>
                        <td>Operation</td>
                        <td>12 Dec 2007</td>
                        <td>15 Sep 1990</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Full Time
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Full Time</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> Contract</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Pension</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Resign</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-warning"></i> Intern</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Employee Modal -->
<div id="add_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone </label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Email </label>
                                <input class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" datepicker=""></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company</label>
                                <select class="select">
                                    <option value="">PT. Derazona Air Service</option>
                                    <option value="1">-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Department</option>
                                    <option>Management</option>
                                    <option>Business Development</option>
                                    <option>Quality Assurance</option>
                                    <option>Finance & Accounting</option>
                                    <option>Safety & Security</option>
                                    <option>Operation</option>
                                    <option>Maintenance</option>
                                    <option>Logistic</option>
                                    <option>General Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Division <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Division</option>
                                    <option>-</option>
                                    <option>General Admission</option>
                                    <option>HRD</option>
                                    <option>Legal</option>
                                    <option>Training</option>
                                    <option>IT</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Position <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Supervisor</option>
                                    <option>Staff</option>
                                    <option>Office Boy</option>
                                    <option>Driver</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-form-label">Create User <span class="text-danger">*</span></label>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                        <label for="inlineRadio1"> Yes </label>
                                        <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                        <label for="inlineRadio2"> No </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Role <span class="text-danger">*</span></label>
                                            <select class="select">
                                                <option>Admin</option>
                                                <option>Employee</option>
                                                <option>Client</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Confirm Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                            <tr>
                                <th>Module Permission</th>
                                <th class="text-center">Read</th>
                                <th class="text-center">Write</th>
                                <th class="text-center">Create</th>
                                <th class="text-center">Delete</th>
                                <th class="text-center">Import</th>
                                <th class="text-center">Export</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Company</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Schedule</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Account</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Payroll</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Request</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Setting</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Accounting</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Koperasi</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Employee Modal -->

<!-- Edit Employee Modal -->
<div id="edit_employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" value="Antun" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" value="Martono" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone </label>
                                <input class="form-control" value="08112208386" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Email </label>
                                <input class="form-control" value="antun.martono@gmail.com" type="email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                                <input value="DAS000000006" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
                                <div class="cal-icon"><input class="form-control datetimepicker" datepicker=""></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company</label>
                                <select class="select">
                                    <option value="">PT. Derazona Air Service</option>
                                    <option value="1">-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Department</option>
                                    <option>Management</option>
                                    <option>Business Development</option>
                                    <option>Quality Assurance</option>
                                    <option>Finance & Accounting</option>
                                    <option>Safety & Security</option>
                                    <option>Operation</option>
                                    <option>Maintenance</option>
                                    <option>Logistic</option>
                                    <option>General Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Division <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Select Division</option>
                                    <option>-</option>
                                    <option>General Admission</option>
                                    <option>HRD</option>
                                    <option>Legal</option>
                                    <option>Training</option>
                                    <option>IT</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Position <span class="text-danger">*</span></label>
                                <select class="select">
                                    <option>Supervisor</option>
                                    <option>Staff</option>
                                    <option>Office Boy</option>
                                    <option>Driver</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-form-label">Create User <span class="text-danger">*</span></label>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                        <label for="inlineRadio1"> Yes </label>
                                        <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                        <label for="inlineRadio2"> No </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Role <span class="text-danger">*</span></label>
                                            <select class="select">
                                                <option>Admin</option>
                                                <option>Employee</option>
                                                <option>Client</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-form-label">Confirm Password</label>
                                            <input class="form-control" type="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                            <tr>
                                <th>Module Permission</th>
                                <th class="text-center">Read</th>
                                <th class="text-center">Write</th>
                                <th class="text-center">Create</th>
                                <th class="text-center">Delete</th>
                                <th class="text-center">Import</th>
                                <th class="text-center">Export</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Company</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Schedule</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Account</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Payroll</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Request</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Setting</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Accounting</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            <tr>
                                <td>Koperasi</td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input checked="" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Employee Modal -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->