<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">GA Assets</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_assets"><i class="fa fa-plus"></i> Add Asset</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total Asset</h6>
                <h4>3 / 96 <span>Available</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Need Maintenance</h6>
                <h4>8 <span>Units</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Good Condition</h6>
                <h4>87 / 96 <span>Units</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total Assets Value</h6>
                <h4>300.000.000</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.ga-assets">Assets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.ga-assets-main">Maintenance</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped  mb-0 datatable nowrap" my-data-table-scroll="">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Model</th>
                                <th>Brand</th>
                                <th>Serial Number</th>
                                <th>Type</th>
                                <th>Location</th>
                                <th>PO Number</th>
                                <th>PO Date</th>
                                <th>Invoice Number</th>
                                <th>Invoice Date</th>
                                <th>Payment Number</th>
                                <th>Payment Date</th>
                                <th>Warranty End</th>
                                <th>Purchased</th>
                                <th class="text-center">Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a class="text-primary" ui-sref="index.it-assets-view"> AC0000-004</a></td>
                                <td>AC Inverter 1PK</td>
                                <td><strong>Daikin</strong></td>
                                <td>FVFVL56GJ1WK</td>
                                <td>Electronic</td>
                                <td>MTH</td>
                                <td>00699/I/0218</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 407201421076</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>5 Jan 2020</td>
                                <td>Rp. 5.000.000</td>
                                <td class="text-center">
                                    <div class="dropdown action-label">
                                        <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" ui-sref="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-dot-circle-o text-success"></i> Available
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-success"></i> Available</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-info"></i> Used</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-warning"></i> Serviced</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-danger"></i> Broken</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-danger"></i> Scrap</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a class="text-primary" ui-sref="index.it-assets-view"> AC0000-005</a></td>
                                <td>AC Inverter 1PK</td>
                                <td><strong>Daikin</strong></td>
                                <td>FVFVL56GJ1WK</td>
                                <td>Electronic</td>
                                <td>MTH</td>
                                <td>00699/I/0218</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 407201421076</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>5 Jan 2020</td>
                                <td>Rp. 5.000.000</td>
                                <td class="text-center">
                                    <div class="dropdown action-label">
                                        <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" ui-sref="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-dot-circle-o text-success"></i> Available
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-success"></i> Available</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-info"></i> Used</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-warning"></i> Serviced</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-danger"></i> Broken</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-danger"></i> Scrap</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a class="text-primary" ui-sref="index.it-assets-view"> OF0000-0011</a></td>
                                <td>Meja Kerja</td>
                                <td><strong>Ligna</strong></td>
                                <td>-</td>
                                <td>Furniture</td>
                                <td>MTH</td>
                                <td>00699/I/0218</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 407201421076</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>5 Jan 2020</td>
                                <td>Rp. 500.000</td>
                                <td class="text-center">
                                    <div class="dropdown action-label">
                                        <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" ui-sref="#" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-dot-circle-o text-success"></i> Available
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-success"></i> Available</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-info"></i> Used</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-warning"></i> Serviced</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-danger"></i> Broken</a>
                                            <a class="dropdown-item" ui-sref="#"><i class="fa fa-dot-circle-o text-danger"></i> Scrap</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


