<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Cars Service</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_assets"><i class="fa fa-plus"></i> Add Service</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total Asset</h6>
                <h4>5 </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Last Maintenance</h6>
                <h4>12 Jun 2019</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Serviced</h6>
                <h4>7 <span>This years</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Cost this Year</h6>
                <h4>5.230.000</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.ga-cars">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.ga-cars-service">Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped  mb-0 datatable nowrap" my-data-table="">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Model</th>
                                <th>Type</th>
                                <th>KM</th>
                                <th>Remarks</th>
                                <th>Price</th>
                                <th>By</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12 Aug 2018</td>
                                <td><a class="text-primary" ui-sref="index.ga-cars-view"><strong>Innova G A/T 2.0</strong></a></td>
                                <td>1.000 KM</td>
                                <td>1.021 KM</td>
                                <td>Ganti Oli, Tune up</td>
                                <td>Rp. 1.230.000</td>
                                <td><a class="text-primary" ui-sref="index.profile"><strong>Harry Junaedi</strong></a></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


