<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Consumables</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_assets"><i class="fa fa-plus"></i> Add Consumables</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total Asset</h6>
                <h4>240 </h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Min. Stock</h6>
                <h4>2 <span>Items</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Last Updated</h6>
                <h4>12 Jun 2019</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total Assets Value</h6>
                <h4>10.000.000</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped  mb-0 datatable nowrap" my-data-table-scroll="">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Model No.</th>
                                <th>Item No.</th>
                                <th>Stock</th>
                                <th>Min. Stock</th>
                                <th>Location</th>
                                <th>Invoice Number</th>
                                <th>Invoice Date</th>
                                <th>Payment Number</th>
                                <th>Payment Date</th>
                                <th>Warranty End</th>
                                <th>Purchased</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a class="text-primary" ui-sref="index.it-assets-view">Epson Ink</a></td>
                                <td>Ink</td>
                                <td>2446</td>
                                <td>1193</td>
                                <td>80</td>
                                <td>20</td>
                                <td>MTH</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>5 Jan 2020</td>
                                <td>Rp. 300.000</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a class="text-primary" ui-sref="index.it-assets-view">Epson Ink</a></td>
                                <td>Toner</td>
                                <td>2446</td>
                                <td>1193</td>
                                <td>80</td>
                                <td>20</td>
                                <td>MTH</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>5 Jan 2020</td>
                                <td>Rp. 300.000</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a class="text-primary" ui-sref="index.it-assets-view">A4 recycled paper</a></td>
                                <td>Printer Paper</td>
                                <td>-</td>
                                <td>-</td>
                                <td>180</td>
                                <td>20</td>
                                <td>MTH</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>iStore 150218</td>
                                <td>5 Jan 2019</td>
                                <td>5 Jan 2020</td>
                                <td>Rp. 300.000</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#clone_assets"><i class="fa fa-copy m-r-5"></i> Clone</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


