<!-- Page Content -->

<div class="content container-fluid">


    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Holiday Allowance Component</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="index.payroll-component-employee-add" class="btn add-btn text-white"><i class="fa fa-plus"></i> Add Payroll Component Employee</a>
        </div>
    </div>
    <!-- /Page Title -->

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Employee No.</th>
                                <th>Office</th>
                                <th>Department</th>
                                <th>Position</th>
                                <th>Payment Cycle</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>(Default Components)</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Atty Boedimilyarti</td>
                                <td>DAS 00000001</td>
                                <td>Main Office</td>
                                <td>Management</td>
                                <td>Director</td>
                                <td>Monthly</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ramadi Widyardiono</td>
                                <td>DAS 00000004</td>
                                <td>Main Office</td>
                                <td>Business Development</td>
                                <td>Business Development Manager</td>
                                <td>Monthly</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ida Franstini</td>
                                <td>DAS 00000007</td>
                                <td>Main Office</td>
                                <td>General Support</td>
                                <td>General Support Manager</td>
                                <td>Monthly</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Subur Harahap</td>
                                <td>DAS 00000008</td>
                                <td>Main Office</td>
                                <td>Finance & Accounting</td>
                                <td>Finance & Accounting Manager</td>
                                <td>Monthly</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Sri Sulastri</td>
                                <td>DAS 00000022</td>
                                <td>Main Office</td>
                                <td>Finance & Accounting</td>
                                <td>Finance Supervisor</td>
                                <td>Monthly</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Himawan Virandi</td>
                                <td>DAS 00000025</td>
                                <td>Main Office</td>
                                <td>Finance & Accounting</td>
                                <td>Accounting Supervisor</td>
                                <td>Monthly</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payroll"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payroll-component-employee-edit"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_payroll"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->




</div>
<!-- /Page Content -->

<!-- View payroll component Modal -->
<div id="view_payroll" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payslips</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped custom-table mb-0 datatable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Tax Borne By Company</th>
                                        <th>Printed</th>
                                        <th>Enabled</th>
                                        <th>Formula/Value</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>BasicSalary</td>
                                        <td>Basic Salary</td>
                                        <td>Neutral</td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>IK</td>
                                        <td>Iuran Koperasi</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>250000</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>M</td>
                                        <td>Mangkir</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>IIF(AbsentDayCount>=1,AbsentDayCount*(basicsalary/WorkdayCount) , 0)</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>L</td>
                                        <td>Lembur</td>
                                        <td>Allowance</td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>(0.0057*BasicSalary)*(AOTMinutes/60)</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>TA</td>
                                        <td>Tunjangan Absensi</td>
                                        <td>Allowance</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>IIF(AbsentCount>0, 0, IIF(LateMinutes>0, 0, 150000))</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Commission</td>
                                        <td>Commission/Bonus</td>
                                        <td>Allowance</td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Loan</td>
                                        <td>Loan Installment</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>BPJS_JKM_COMP</td>
                                        <td>BPJS - Life Insurance (Company Contribution)</td>
                                        <td>Non Cash Income</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>BPJS_JKK_COMP</td>
                                        <td>BPJS - Work Accident Insurance (Company Contribution)</td>
                                        <td>Non Cash Income</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>BPJS_JHT_COMP</td>
                                        <td>BPJS - Pesion Plan (Company Contribution)</td>
                                        <td>Non Cash Income</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>BPJS_JP_COMP</td>
                                        <td>BPJS - Pesion Fund (Company Contribution)</td>
                                        <td>Non Cash Income</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>BPJS_JKN_COMP</td>
                                        <td>BPJS - Health Insurance (Company Contribution)</td>
                                        <td>Non Cash Income</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>BPJS_JKM_EMP</td>
                                        <td>BPJS - Life Insurance</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>BPJS_JKK_EMP</td>
                                        <td>BPJS - Work Accident Insurance</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>BPJS_JHT_EMP</td>
                                        <td>BPJS - Pesion Plan</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>BPJS_JP_EMP</td>
                                        <td>BPJS - Pesion Fund</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>BPJS_JKN_EMP</td>
                                        <td>BPJS - Health Insurance</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>TaxAllowance</td>
                                        <td>Tax Allowance</td>
                                        <td>Allowance</td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>Tax</td>
                                        <td>Tax</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>Backpay</td>
                                        <td>Backpay</td>
                                        <td>Neutral</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>BackpayDeduction</td>
                                        <td>Deducted for Backpay</td>
                                        <td>Deduction</td>
                                        <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                        <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                        <td>[Provided by System]</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /View payroll component Modal -->

<!-- Delete Payroll Component Modal -->
<div class="modal custom-modal fade" id="delete_payroll" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Component</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Payroll Component Modal -->


