<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Social Security (BPJS) Contribution Percentage</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_wage"><i class="fa fa-plus"></i> Add New</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-10">
            <form>
                <div class="submit-section">
                    <span class="form-text text-muted"> It is the setting of contibution percentage that will be paid by both company and employee for social security insurance. The percentage is calculated from employee's wage (fixed income).</span>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label class="col-form-label">Formula/Value <span class="text-danger">*</span> </label>
                        <div class="form-group">
                            <textarea rows="6" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-form-label">Available Components: </label>
                                <input class="form-control" type="text" value="Search..">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->