<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">PC0000-004</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="index.it-assets" class="btn add-btn text-white" data-toggle="modal" >Back</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.it-assets-view">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.it-assets-components">Components</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.it-assets-main-view">Maintenance</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="project-title">
                                <h3 class="card-title">Details<a class="edit-icon" data-toggle="modal" data-target="#general_info_modal"><i class="fa fa-pencil"></i></a></h3>
                                <!--
                                <small class="block text-ellipsis m-b-15"><span class="text-xs">2</span> <span class="text-muted">open tasks, </span><span class="text-xs">5</span> <span class="text-muted">tasks completed</span></small>
                                -->
                            </div>
                            <ul class="personal-info">
                                <li>
                                    <div class="title">Created at</div>
                                    <div class="text">5 Jan 2019</div>
                                </li>
                                <li>
                                    <div class="title">Updated at</div>
                                    <div class="text">5 Jan 2019</div>
                                </li>
                                <li>
                                    <div class="title">Location</div>
                                    <div class="text">MTH</div>
                                </li>
                                <li>
                                    <div class="title">PO Number</div>
                                    <div class="text">00699/I/0218</div>
                                </li>
                                <li>
                                    <div class="title">PO Date</div>
                                    <div class="text">5 Jan 2019</div>
                                </li>
                                <li>
                                    <div class="title">Invoice Number</div>
                                    <div class="text">iStore 407201421076</div>
                                </li>
                                <li>
                                    <div class="title">Invoice Date</div>
                                    <div class="text">5 Jan 2019</div>
                                </li>
                                <li>
                                    <div class="title">Payment Number</div>
                                    <div class="text">iStore 150218</div>
                                </li>
                                <li>
                                    <div class="title">Payment Date</div>
                                    <div class="text">5 Jan 2019</div>
                                </li>
                                <li>
                                    <div class="title">Processor</div>
                                    <div class="text">1.8GHz Dual-Core Intel Core i5</div>
                                </li>
                                <li>
                                    <div class="title">Memory</div>
                                    <div class="text">8GB DDR3</div>
                                </li>
                                <li>
                                    <div class="title">Hard Drive</div>
                                    <div class="text">128 GB Flash Storage</div>
                                </li>
                                <li>
                                    <div class="title">Graphic Card</div>
                                    <div class="text">Intel HD Graphics 6000</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="uploaded-box">
                            <div class="uploaded-img">
                                <img src="img/placeholder.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title m-b-15">Macbook Air 13” <a class="edit-icon" data-toggle="modal" data-target="#general_info_modal"><i class="fa fa-pencil"></i></a></h6>
                            <ul class="personal-info">
                                <li>
                                    <div class="title">Code</div>
                                    <div class="text">DAS/GS-IT/PC0000-004</div>
                                </li>
                                <li>
                                    <div class="title">Brand</div>
                                    <div class="text">Apple</div>
                                </li>
                                <li>
                                    <div class="title">Type</div>
                                    <div class="text">Notebook</div>
                                </li>
                                <li>
                                    <div class="title">Serial No.</div>
                                    <div class="text">FVFVL56GJ1WK</div>
                                </li>
                            </ul>
                            <p class="m-b-5">Asset Value <span class="text-success float-right">40%</span></p>
                            <div class="progress progress-xs mb-0">
                                <div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="40%" style="width: 40%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="project-title">
                                <h3 class="card-title">Licenses<a class="edit-icon" data-toggle="modal" data-target="#general_info_modal"><i class="fa fa-plus"></i></a></h3>
                            </div>
                            <table class="table table-striped  mb-0 datatable" >
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                    <td>Expired Date</td>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Operating System</td>
                                    <td>MacOS Mojave</td>
                                    <td>-</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Antivirus</td>
                                    <td>Norton</td>
                                    <td>5 Jan 2019</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="project-title">
                                <h3 class="card-title">History<a class="edit-icon" data-toggle="modal" data-target="#general_info_modal"><i class="fa fa-plus"></i></a></h3>
                            </div>
                            <table class="table table-striped  mb-0 datatable" >
                                <thead>
                                <tr>
                                    <td>Assign to</td>
                                    <td>Date</td>
                                    <td>BASTB</td>
                                    <td>Notes</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                            <a href="#"> Atty Boedimilyarti <span>Director</span></a>
                                        </h2>
                                    </td>
                                    <td>5 Jan 2019</td>
                                    <td><a class="text-primary" ui-sref="#">DAS/GS-IT/BASTB0218-002.pdf</a></td>
                                    <td>New</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Uploaded Files<a class="edit-icon" data-toggle="modal" data-target="#general_info_modal"><i class="fa fa-plus"></i></a></h3>
                            <ul class="files-list">
                                <li>
                                    <div class="files-cont">
                                        <div class="file-type">
                                            <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                        </div>
                                        <div class="files-info">
                                            <span class="file-name text-ellipsis"><a href="#">Invoice.pdf</a></span>
                                            <span class="file-author"><a href="#">John Doe</a></span> <span class="file-date">May 31st at 6:53 PM</span>
                                            <div class="file-size">Size: 14.8Mb</div>
                                        </div>
                                        <ul class="files-action">
                                            <li class="dropdown dropdown-action">
                                                <a href="" class="dropdown-toggle btn btn-link" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#share_files">Share</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="files-cont">
                                        <div class="file-type">
                                            <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                        </div>
                                        <div class="files-info">
                                            <span class="file-name text-ellipsis"><a href="#">PO.pdf</a></span>
                                            <span class="file-author"><a href="#">Richard Miles</a></span> <span class="file-date">May 31st at 6:53 PM</span>
                                            <div class="file-size">Size: 14.8Mb</div>
                                        </div>
                                        <ul class="files-action">
                                            <li class="dropdown dropdown-action">
                                                <a href="" class="dropdown-toggle btn btn-link" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#share_files">Share</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


