<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <!--
        <div class="col-sm-12">
            <h4 class="page-title">Job Applicants</h4>
        </div> -->
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Jobs Applicants</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_applicant"><i class="fa fa-plus"></i> Add Applicant</a>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Job Title</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Apply Date</th>
                        <th class="text-center">Status</th>
                        <th>Resume</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="javascript:void(0);" ui-sref="index.job-details">Avionic</a></td>
                        <td>John Doe</td>
                        <td>johndoe@example.com</td>
                        <td>9876543210</td>
                        <td>9 Feb 2019</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-info"></i> New
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> New</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Hired</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Rejected</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Interviewed</a>
                                </div>
                            </div>
                        </td>
                        <td><a class="btn btn-xs btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-clock-o m-r-5"></i> Schedule Interview</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="javascript:void(0);" ui-sref="index.job-details">HLO</a></td>
                        <td>Maria Sam</td>
                        <td>mariasam@example.com</td>
                        <td>9876543210</td>
                        <td>21 Feb 2019</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-success"></i> Hired
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> New</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Hired</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Rejected</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Interviewed</a>
                                </div>
                            </div>
                        </td>
                        <td><a class="btn btn-xs btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-clock-o m-r-5"></i> Schedule Interview</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Applicant Modal -->
<div class="modal custom-modal fade" id="add_applicant" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Your Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Job Title</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload your CV</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Add Applicant Modal -->