<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Job Details</h4>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-8">
            <div class="job-info job-widget">
                <h3 class="job-title">Avionic Engineer</h3>
                <span class="job-dept">App Development</span>
                <ul class="job-post-det">
                    <li><i class="fa fa-calendar"></i> Post Date: <span class="text-blue">Feb 18, 2019</span></li>
                    <li><i class="fa fa-calendar"></i> Last Date: <span class="text-blue">May 31, 2019</span></li>
                    <li><i class="fa fa-user-o"></i> Applications: <span class="text-blue">4</span></li>
                    <li><i class="fa fa-eye"></i> Views: <span class="text-blue">3806</span></li>
                </ul>
            </div>
            <div class="job-content job-widget">
                <div class="job-desc-title"><h4>Description</h4></div>
                <div class="job-description">
                    <p>Derazona Helicopters is a widely recognised leading company in the General (Private) Aviation industry. We are committed to employing the very best individuals who can demonstrate and deliver the very highest level of customer service.</p>
                </div>
                <div class="job-desc-title"><h4>Job Description</h4></div>
                <div class="job-description">
                    <p>Experienced Rotary Avionic Engineer needed!
                        We are looking for an avionic/electrical engineer with experience on the Bell range of aircraft, ideally the 212 or 412 to assist our client in Europe for 2 months, starting in early June
                        You will be able to work 50 hours per week, with flights, accommodation and dinner all provided.
                        Rates are competitive, so if you are interested and have solid Bell experience please apply now!
                        All candidates must be able to demonstrate the following qualities in order to be considered for the role:</p>
                    <ul class="square-list">
                        <li>Pro-active approach to work</li>
                        <li>Ability to multi-task</li>
                        <li>Problem solving / logical approach</li>
                        <li>Initiative</li>
                        <li>Outgoing, Confident personality </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="job-det-info job-widget">
                <a class="btn job-btn text-primary" data-toggle="modal" data-target="#edit_job">Edit</a>
                <div class="info-list">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <h5>Job Type</h5>
                    <p> Full Time</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-money"></i></span>
                    <h5>Salary</h5>
                    <p>-</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-suitcase"></i></span>
                    <h5>Experience</h5>
                    <p>2 Years</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-ticket"></i></span>
                    <h5>Vacancy</h5>
                    <p>5</p>
                </div>
                <div class="info-list">
                    <span><i class="fa fa-map-signs"></i></span>
                    <h5>Location</h5>
                    <p> PT. Derazona Air Service
                        <br>  MTH Square Building,
                        <br> 3rd Floor No. 03/06A
                        <br> Jl. MT Haryono Kav. 10 Jakarta Timur, 13330</p>
                </div>
                <div class="info-list">
                    <p class="text-truncate"> 818-978-7102
                        <br> <a href="mailto:danielporter@example.com" title="danielporter@example.com">recruitment@derazona.com</a>
                        <br> <a href="https://www.example.com" target="_blank" title="https://www.example.com">https://www.derazona.com</a>
                    </p>
                </div>
                <div class="info-list text-center">
                    <a class="app-ends" href="#">Application ends in 2d 7h 6m</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Edit Job Modal -->
<div id="edit_job" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Title</label>
                                <input class="form-control" type="text" value="Web Developer">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department</label>
                                <select class="select">
                                    <option>-</option>
                                    <option selected>Web Development</option>
                                    <option>Application Development</option>
                                    <option>IT Management</option>
                                    <option>Accounts Management</option>
                                    <option>Support Management</option>
                                    <option>Marketing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Location</label>
                                <input class="form-control" type="text" value="California">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No of Vacancies</label>
                                <input class="form-control" type="text" value="5">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Experience</label>
                                <input class="form-control" type="text" value="2 Years">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Age</label>
                                <input class="form-control" type="text" value="-">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Salary From</label>
                                <input type="text" class="form-control" value="32k">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Salary To</label>
                                <input type="text" class="form-control" value="38k">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Type</label>
                                <select class="select">
                                    <option selected>Full Time</option>
                                    <option>Part Time</option>
                                    <option>Internship</option>
                                    <option>Temporary</option>
                                    <option>Remote</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="select">
                                    <option selected>Open</option>
                                    <option>Closed</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="text" class="form-control datetimepicker" value="3 Mar 2019">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Expired Date</label>
                                <input type="text" class="form-control datetimepicker" value="31 May 2019">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Job Modal -->