<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Koperasi</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_assets"><i class="fa fa-plus"></i> Add Member</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Total Members</h6>
                <h4>96 <span>Member</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Pinjaman</h6>
                <h4>5 <span>This Month</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Simpanan</h6>
                <h4>2 <span>This Month</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Potongan Bulan Ini</h6>
                <h4>13.000.000</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.koperasi">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.koperasi-members">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.koperasi-sp">Simpanan / Pinjaman </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped  mb-0 datatable nowrap" my-data-table-scroll="">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Type</th>
                                <th>Total</th>
                                <th>Term</th>
                                <th>Potongan</th>
                                <th>Start</th>
                                <th>Until</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>20 Jan 2019</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a ui-sref="index.profile"> Atty Boedimilyarti <span>Director</span></a>
                                    </h2>
                                </td>
                                <td>Management</td>
                                <td><span class="badge badge-danger-border">Pinjaman</span></td>
                                <td>12.000.000</td>
                                <td>12 Bulan</td>
                                <td class="text-danger">1.250.000</td>
                                <td>Jun 2019</td>
                                <td>Jun 2020</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>20 Jan 2019</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a ui-sref="index.profile"> Ramadi Widyardiono <span>BD Manager</span></a>
                                    </h2>
                                </td>
                                <td>Management</td>
                                <td><span class="badge badge-danger-border">Pinjaman</span></td>
                                <td>5.000.000</td>
                                <td>5 Bulan</td>
                                <td class="text-danger">1.100.000</td>
                                <td>Jun 2019</td>
                                <td>Jun 2020</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>19 Jan 2019</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a ui-sref="index.profile"> Atty Boedimilyarti <span>Director</span></a>
                                    </h2>
                                </td>
                                <td>Management</td>
                                <td><span class="badge badge-success-border">Sukarela</span></td>
                                <td>20.000.000</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Jun 2019</td>
                                <td>-</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>19 Jan 2019</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a ui-sref="index.profile"> Atty Boedimilyarti <span>Director</span></a>
                                    </h2>
                                </td>
                                <td>Management</td>
                                <td><span class="badge badge-success-border">Wajib</span></td>
                                <td>1.500.000</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Aug 2019</td>
                                <td>-</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#view_assets"><i class="fa fa-search m-r-5"></i> View</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_assets"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_assets"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


