<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Process Koperasi</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_assets"><i class="fa fa-plus"></i> Add Member</a>
        </div> -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Office / Site</label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Office</option>
                                <option>Head Office</option>
                                <option>Surabaya Site</option>
                                <option>Bontang Site</option>
                                <option>Makassar Site</option>
                            </select>
                            <label class="focus-label">Select Office / Site</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Department</label>
                    <div class="col-lg-5">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Department</option>
                                <option>Management</option>
                                <option>Business Development</option>
                                <option>Operation</option>
                                <option>Maintenance</option>
                                <option>Logistic</option>
                                <option>Quality Assurance</option>
                                <option>Safety & Security</option>
                                <option>Finance & Accounting</option>
                                <option>General Support</option>
                            </select>
                            <label class="focus-label">Select Department</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Period <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" datepicker-month-year="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Date <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="25 April 2019" datepicker="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-success btn-block text-white"> Process </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a ui-sref="index.payslip" class="btn btn-success btn-block"> Search </a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
                -->
            </form>
        </div>
    </div>
    <!-- /Search Filter -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.koperasi">Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.koperasi-members">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.koperasi-sp">Simpanan / Pinjaman </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <div class="row">
                <div class="col-md-12">
                    <label class="col-lg-4"><span class="form-text text-muted">Payment Setting for The Selected Period</span> </label>
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Simpanan</th>
                                <th>Pinjaman</th>
                                <th>Total</th>
                                <th>Payment Date</th>
                                <th class="text-center">Already Process</th>
                                <th class="text-right">Closed</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a ui-sref="index.profile" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a ui-sref="index.profile"> Atty Boedimilyarti <span>Director</span></a>
                                    </h2>
                                </td>
                                <td>Management</td>
                                <td>1.200.000</td>
                                <td>1.000.000</td>
                                <td><strong>2.200.000</strong></td>
                                <td>25 Apr 2019</td>
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="text-center"><input type="checkbox"></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


