<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Legal</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_legal"><i class="fa fa-plus"></i> Add Legal</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">Until</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Status</option>
                    <option>Open</option>
                    <option>Expiring</option>
                    <option>Closed</option>
                    <option>Draft</option>
                    <option>Cancelled</option>
                </select>
                <label class="focus-label">Designation</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Filename</th>
                        <th>Company</th>
                        <th>Date</th>
                        <th>Until</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#view_legal"><i></i>DAS/DIR/0213-001</a></td>
                        <td><a href="javascript:void(0);" ui-sref="index.vendors" data-toggle="modal"><i></i>Petronas</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td><span class="badge badge-danger-border">Closed</span></td>
                        <td>Kontrak Kerjasama di Surabaya</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_legal"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_legal"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#view_legal"><i></i>DAS/DIR/0213-002</a></td>
                        <td><a href="javascript:void(0);" ui-sref="index.vendors" data-toggle="modal"><i></i>Petronas</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td><span class="badge badge-warning-border">Expiring</span></td>
                        <td>Kontrak Kerjasama di Surabaya</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_legal"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_legal"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#view_legal"><i></i>DAS/DIR/0213-003</a></td>
                        <td><a href="javascript:void(0);" ui-sref="index.vendors" data-toggle="modal"><i></i>Petronas</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td><span class="badge badge-success-border">Open</span></td>
                        <td>Kontrak Kerjasama di Surabaya</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_legal"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_legal"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#view_legal"><i></i>DAS/DIR/0213-004</a></td>
                        <td><a href="javascript:void(0);" ui-sref="index.vendors" data-toggle="modal"><i></i>Pertamina</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td><span class="badge badge-info-border">Draft</span></td>
                        <td>Kontrak Kerjasama di Surabaya</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_legal"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_legal"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#view_legal"><i></i>DAS/DIR/0213-005</a></td>
                        <td><a href="javascript:void(0);" ui-sref="index.vendors" data-toggle="modal"><i></i>Pertamina</a></td>
                        <td>01 Feb 2013</td>
                        <td>03 Dec 2017</td>
                        <td><span class="badge badge-success-border">Open</span></td>
                        <td>Kontrak Kerjasama di Surabaya</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_legal"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_legal"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Legal Modal -->
<div id="add_legal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Legal Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Filename <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company</label>
                                <select class="select">
                                    <option>-</option>
                                    <option>Petronas</option>
                                    <option>Pertamina</option>
                                    <option>Exxon Mobil</option>
                                    <option>Airbus Helicopter</option>
                                    <option>Bell Helicopter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Until</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select class="select floating">
                                    <option>-</option>
                                    <option>Open</option>
                                    <option>Draft</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload Files</label>
                                <input class="form-control" type="file">
                                <span class="form-text text-muted">* Recommended PDF file format</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Filename</th>
                                <th>Description</th>
                                <th class="text-right">#</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Legal Modal -->

<!-- View Legal Modal -->
<div id="view_legal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Legal Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Filename <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" value="DAS/DIR/0213-001">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company</label>
                                <select class="select">
                                    <option>Petronas</option>
                                    <option>-</option>
                                    <option>Pertamina</option>
                                    <option>Exxon Mobil</option>
                                    <option>Airbus Helicopter</option>
                                    <option>Bell Helicopter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Until</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select class="select floating">
                                    <option>-</option>
                                    <option>Open</option>
                                    <option>Draft</option>
                                    <option>Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload Files</label>
                                <input class="form-control" type="file">
                                <span class="form-text text-muted">* Recommended PDF file format</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Filename</th>
                            <th>Description</th>
                            <th class="text-right">#</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>01 Jan 2017</td>
                                <td><a href="javascript:void(0);">DAS/DIR/0213-001</a></td>
                                <td>Amandemen 2017</td>
                                <td class="text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>01 Jan 2017</td>
                                <td><a href="javascript:void(0);">DAS/DIR/0213-001</a></td>
                                <td>-</td>
                                <td class="text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>01 Feb 2017</td>
                                <td><a href="javascript:void(0);">DAS/DIR/0213-001</a></td>
                                <td>Draft</td>
                                <td class="text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / View Legal Modal -->

<!-- Edit Legal Modal -->
<div id="edit_legal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Legal Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Filename <span class="text-danger">*</span></label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Company</label>
                                <select class="select">
                                    <option>-</option>
                                    <option>Petronas</option>
                                    <option>Pertamina</option>
                                    <option>Exxon Mobil</option>
                                    <option>Airbus Helicopter</option>
                                    <option>Bell Helicopter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Until</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select class="select floating">
                                    <option>-</option>
                                    <option>Open</option>
                                    <option>Draft</option>
                                    <option>Canceled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload Files</label>
                                <input class="form-control" type="file">
                                <span class="form-text text-muted">* Recommended PDF file format</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Filename</th>
                            <th>Description</th>
                            <th class="text-right">#</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>01 Jan 2017</td>
                                <td><a href="javascript:void(0);">DAS/DIR/0213-001</a></td>
                                <td>Amandemen 2017</td>
                                <td class="text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>01 Jan 2017</td>
                                <td><a href="javascript:void(0);">DAS/DIR/0213-001</a></td>
                                <td>-</td>
                                <td class="text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>01 Feb 2017</td>
                                <td><a href="javascript:void(0);">DAS/DIR/0213-001</a></td>
                                <td>Draft</td>
                                <td class="text-right"><a href="javascript:void(0);" data-toggle="modal" data-target="#delete_legal"><i class="fa fa-trash-o m-r-5"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Legal Modal -->

<!-- Delete Legal Modal -->
<div class="modal custom-modal fade" id="delete_legal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Legal</h3>
                    <p>Are you sure want to delete this letter?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Legal Modal -->