<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Licenses</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_licenses"><i class="fa fa-plus"></i> Add Licenses</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.licenses">Licenses List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.licenses-employee">Employee List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <!-- Period List -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Licenses ID</th>
                                <th>Licenses Name</th>
                                <th>Type</th>
                                <th>Duration</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>001-10-100</td>
                                <td><a href="javascript:void(0);"><i></i>A4 - Motor Turbin (2)</a></td>
                                <td><span class="badge badge-danger">Mandatory</span></td>
                                <td>1 Year</td>
                                <td>For Engineer</td>
                                <td><span class="badge badge-success-border">Active</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>001</td>
                                <td><a href="javascript:void(0);"><i></i>AVSEC</a></td>
                                <td><span class="badge badge-danger">Mandatory</span></td>
                                <td>1 Year</td>
                                <td>All Staff</td>
                                <td><span class="badge badge-success-border">Active</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>002</td>
                                <td><a href="javascript:void(0);"><i></i>SMS</a></td>
                                <td><span class="badge badge-warning text-white">Additional</span></td>
                                <td>2 Years</td>
                                <td>All Staff</td>
                                <td><span class="badge badge-success-border">Active</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>003</td>
                                <td><a href="javascript:void(0);"><i></i>DCloud</a></td>
                                <td><span class="badge badge-success">Not Mandatory</span></td>
                                <td>None</td>
                                <td>All Staff</td>
                                <td><span class="badge badge-success-border">Active</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>101</td>
                                <td><a href="javascript:void(0);"><i></i>EILTS</a></td>
                                <td><span class="badge badge-success">Not Mandatory</span></td>
                                <td>6 months</td>
                                <td>All Staff</td>
                                <td><span class="badge badge-danger-border">Inactive</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#edit_licenses"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_licenses"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->

</div>
<!-- /Page Content -->

<!-- Add Licenses Modal -->
<div class="modal custom-modal fade" id="add_licenses" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Licenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Licenses ID <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Licenses Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>Mandatory</option>
                            <option>Additional</option>
                            <option>Not Mandatory</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Duration</label>
                                <input placeholder="" class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option selected>None</option>
                                    <option>Years</option>
                                    <option>Months</option>
                                    <option>Weeks</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Status <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Active </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Inactive </label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Add Licenses Modal -->

<!-- Edit Licenses Modal -->
<div class="modal custom-modal fade" id="edit_licenses" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Licenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Licenses ID <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Licenses Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>Mandatory</option>
                            <option>Additional</option>
                            <option>Not Mandatory</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Duration</label>
                                <input placeholder="" class="form-control" value="" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option selected>None</option>
                                    <option>Years</option>
                                    <option>Months</option>
                                    <option>Weeks</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Status <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Active </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Inactive </label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Licenses Modal -->

<!-- Delete Licenses Modal -->
<div class="modal custom-modal fade" id="delete_licenses" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Licenses</h3>
                    <p>Are you sure want to delete this Licenses?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Licenses Modal -->