<!-- Page Content -->
<!--
<ui-view></ui-view>

<div class="content container-fluid" ng-show="$state.current.name === 'index.attendance'">
    -->
<div class="content container-fluid">

    <div class="row">
        <div class="col-sm-8">
            <h4 class="page-title">On Duty</h4>
        </div>
    </div>

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Search Name</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>-</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                </select>
                <label class="focus-label">Select Month</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>-</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                </select>
                <label class="focus-label">Select Year</label>
            </div>
        </div>
        <div class="col-sm-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>

    <!-- /Search Filter -->

    <!-- Print Button -->
    <div class="text-right mb-4 clearfix">
        <div class="col-sm-12 col-8 text-right m-b-30">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-white">CSV</button>
                <button class="btn btn-white">PDF</button>
                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
            </div>
        </div>
    </div>
    <!-- /Print Button -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table table-nowrap mb-0">
                    <thead>
                    <tr>
                        <th>Employee</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                <a href="profile.html">Heriyanto <span>Office Boy</span></a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info" class="text-success"></i>JKT</a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info" class="text-success"></i>JKT</a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td>
                            <div class="half-day">
                                <span class="first-off"><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></span>
                                <span class="first-off"><i class="fa fa-close text-danger"></i></span>
                            </div>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td>
                            <div class="half-day">
                                <span class="first-off"><i class="fa fa-circle text-danger"></i></span>
                                <span class="first-off"><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></span>
                            </div>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#attendance-settings"><i class="fa fa-gear m-r-5"></i> Settings</a>
                                    <a ui-sref="index.attendance-view" class="dropdown-item"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                <a href="profile.html">Murtala <span>IT Staff</span></a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#attendance-settings"><i class="fa fa-gear m-r-5"></i> Settings</a>
                                    <a ui-sref="index.attendance.view" class="dropdown-item"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                <a href="profile.html">Wahyu Desrum <span>IT Staff</span></a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#attendance-settings"><i class="fa fa-gear m-r-5"></i> Settings</a>
                                    <a ui-sref="index.attendance.view" class="dropdown-item"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                <a href="profile.html">Roni Sopian <span>Engineer</span></a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#attendance-settings"><i class="fa fa-gear m-r-5"></i> Settings</a>
                                    <a ui-sref="index.attendance.view" class="dropdown-item"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                <a href="profile.html">Fani Kristiono <span>Engineer</span></a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#attendance-settings"><i class="fa fa-gear m-r-5"></i> Settings</a>
                                    <a ui-sref="index.attendance.view" class="dropdown-item"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                <a href="profile.html">Ahmad Rifai <span>Engineer</span></a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-close text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info1"><i class="fa fa-circle text-danger"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info2"><i class="fa fa-circle text-success"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#attendance-settings"><i class="fa fa-gear m-r-5"></i> Settings</a>
                                    <a ui-sref="index.attendance.view" class="dropdown-item"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a class="avatar avatar-xs" href="profile.html"><img alt="" src="assets/img/profiles/avatar-04.jpg"></a>
                                <a href="profile.html">Loren Gatlin</a>
                            </h2>
                        </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><i class="fa fa-close text-danger"></i> </td>
                        <td><i class="fa fa-close text-danger"></i> </td>
                        <td><i class="fa fa-close text-danger"></i> </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><i class="fa fa-close text-danger"></i> </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><i class="fa fa-close text-danger"></i> </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><i class="fa fa-close text-danger"></i> </td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td><a href="javascript:void(0);" data-toggle="modal" data-target="#attendance_info"><i class="fa fa-check text-success"></i></a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="attendance-view.html" data-toggle="modal"><i class="fa fa-search m-r-5"></i> View</a>
                                </div>
                            </div>
                        </td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Attendance Modal -->
<div class="modal custom-modal fade" id="attendance_info" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendance Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card punch-status">
                            <div class="card-body">
                                <h5 class="card-title">Timesheet <small class="text-muted">11 Mar 2019</small></h5>
                                <div class="punch-det">
                                    <h6>Work Hours</h6>
                                    <p>7.00 AM - 4.00 PM</p>
                                </div>
                                <div class="punch-info">
                                    <div class="punch-hours text-success">
                                        <span>12.10 hrs</span>
                                    </div>
                                </div>
                                <div class="punch-det">
                                    <h6>Presence</h6>
                                    <p>7.05 AM - 7.15 PM</p>
                                </div>
                                <div class="statistics">
                                    <div class="row">
                                        <div class="col-md-6 col-6 text-center">
                                            <div class="stats-box">
                                                <p>Overtime</p>
                                                <h6>Allowed</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6 text-center">
                                            <div class="stats-box">
                                                <p>Overtime</p>
                                                <h6>3 hrs</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card recent-activity">
                            <div class="card-body">
                                <h5 class="card-title">Activity</h5>
                                <ul class="res-activity-list">
                                    <li>
                                        <p class="mb-0">Overtime</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            4.00 PM - 17.15 PM
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Trdn</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Early</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Description</p>
                                        <p class="res-activity-time">
                                            Overtime
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Remarks</p>
                                        <p class="res-activity-time">
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Approve By</p>
                                        <p class="res-activity-time">
                                            Rudi Santoso
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Attendance Modal -->

<!-- Attendance Modal 1-->
<div class="modal custom-modal fade" id="attendance_info1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendance Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card punch-status">
                            <div class="card-body">
                                <h5 class="card-title">Timesheet <small class="text-muted">11 Mar 2019</small></h5>
                                <div class="statistics">
                                    <div class="row">
                                        <div class="col-md-12 col-6 text-center">
                                            <div class="punch-info">
                                                <div class="punch-hours text-danger">
                                                    <span>Day Off</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-6 text-center">
                                            <h6>Weekend</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Attendance Modal -->

<!-- Attendance Modal 2 -->
<div class="modal custom-modal fade" id="attendance_info2" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendance Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card punch-status">
                            <div class="card-body">
                                <h5 class="card-title">Timesheet <small class="text-muted">11 Mar 2019</small></h5>
                                <div class="punch-det">
                                    <h6>Work Hours</h6>
                                    <p>7.00 AM - 4.00 PM</p>
                                </div>
                                <div class="punch-info">
                                    <div class="punch-hours">
                                        <span>     hrs</span>
                                    </div>
                                </div>
                                <div class="punch-det">
                                    <h6>Presence</h6>
                                    <p>-</p>
                                </div>
                                <div class="statistics">
                                    <div class="row">
                                        <div class="col-md-6 col-6 text-center">
                                            <div class="stats-box">
                                                <p>Overtime</p>
                                                <h6>Allowed</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6 text-center">
                                            <div class="stats-box">
                                                <p>Overtime</p>
                                                <h6>- hrs</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card recent-activity">
                            <div class="card-body">
                                <h5 class="card-title">Activity</h5>
                                <ul class="res-activity-list">
                                    <li>
                                        <p class="mb-0">Overtime</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Trdn</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Early</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Description</p>
                                        <p class="res-activity-time">
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Remarks</p>
                                        <p class="res-activity-time">
                                            -
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Approve By</p>
                                        <p class="res-activity-time">
                                            -
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Attendance Modal -->

<!-- Attendance Setting Modal -->
<div id="attendance-settings" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Setting Attendance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="text-primary">Ahmad Rifai</h4>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Settings</label>
                                <select class="select">
                                    <option>Default</option>
                                    <option>Custom</option>
                                    <option>Shift</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Settings</label>
                                <select class="select">
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Select Settings</label>
                                <select class="select">
                                    <option>Jan</option>
                                    <option>Feb</option>
                                    <option>Mar</option>
                                    <option>Apr</option>
                                    <option>May</option>
                                    <option>Jun</option>
                                    <option>Jul</option>
                                    <option>Aug</option>
                                    <option>Sep</option>
                                    <option>Oct</option>
                                    <option>Nov</option>
                                    <option>Dec</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="d-block">16 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="16" class="check">
                                    <label for="16" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">17 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="17" class="check">
                                    <label for="17" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">18 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="18" class="check">
                                    <label for="18" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">19 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="19" class="check">
                                    <label for="19" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">20 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="20" class="check">
                                    <label for="20" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">21 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="21" class="check">
                                    <label for="21" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">22 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="22" class="check">
                                    <label for="22" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">23 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="23" class="check">
                                    <label for="23" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="d-block">24 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="24" class="check">
                                    <label for="24" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">25 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="25" class="check">
                                    <label for="25" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">26 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="26" class="check">
                                    <label for="26" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">27 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="27" class="check">
                                    <label for="27" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">28 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="28" class="check">
                                    <label for="28" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">29 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="29" class="check">
                                    <label for="29" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">30 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="30" class="check">
                                    <label for="30" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">31 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="31" class="check">
                                    <label for="31" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="d-block">1 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="1" class="check">
                                    <label for="1" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">2 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="2" class="check">
                                    <label for="2" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">3 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="3" class="check">
                                    <label for="3" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">4 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="4" class="check">
                                    <label for="4" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">5 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="5" class="check">
                                    <label for="5" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">6 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="6" class="check">
                                    <label for="6" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">7 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="7" class="check">
                                    <label for="7" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">8 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="8" class="check">
                                    <label for="8" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="d-block">9 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="9" class="check">
                                    <label for="9" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">10 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="10" class="check">
                                    <label for="10" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">11 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="11" class="check">
                                    <label for="11" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">12 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="12" class="check">
                                    <label for="12" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">13 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="13" class="check">
                                    <label for="13" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">14 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="14" class="check">
                                    <label for="14" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">15 June 2019</label>
                                <div class="status-toggle">
                                    <input type="checkbox" id="15" class="check">
                                    <label for="15" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Attendance Setting Modal -->