<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payroll Setting - Basic Salary PSN</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_setting"><i class="fa fa-plus"></i> Add New</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">


            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Payment Cycle</th>
                                <th>Department</th>
                                <th>Start Attendance Day</th>
                                <th>End Attendance Day</th>
                                <th>Payment Day</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Monthly</td>
                                <td>(All Department)</td>
                                <td>Day 16</td>
                                <td>Day 15</td>
                                <td>Last Day</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->

<!-- Add Setting Modal -->
<div id="add_setting" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add PSN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Payment Cycle <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Biweekly</option>
                            <option>Annual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Department <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>(All Department)</option>
                            <option>Safety & Security</option>
                            <option>Management</option>
                            <option>Business Development</option>
                            <option>Operation</option>
                            <option>Maintenance</option>
                            <option>Logistic</option>
                            <option>Quality Assurance</option>
                            <option>Finance & Accounting</option>
                            <option>General Support</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Start Attendance Day <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>30</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>End Attendance Day <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>30</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Belong Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Start</option>
                            <option>End</option>
                        </select>
                        <span class="form-text text-muted">Ex: For monthly attendance between June 24 until July 23, 2016, if set to 'Start' then it is the payroll period of June 2016. If set to 'End' then it is the payroll period of July 2016.</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Setting Modal -->

<!-- Edit Setting Modal -->
<div id="edit_setting" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add PSN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Payment Cycle <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Biweekly</option>
                            <option>Annual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Department <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>(All Department)</option>
                            <option>Safety & Security</option>
                            <option>Management</option>
                            <option>Business Development</option>
                            <option>Operation</option>
                            <option>Maintenance</option>
                            <option>Logistic</option>
                            <option>Quality Assurance</option>
                            <option>Finance & Accounting</option>
                            <option>General Support</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Start Attendance Day <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>30</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>End Attendance Day <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>30</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Belong Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Start</option>
                            <option>End</option>
                        </select>
                        <span class="form-text text-muted">Ex: For monthly attendance between June 24 until July 23, 2016, if set to 'Start' then it is the payroll period of June 2016. If set to 'End' then it is the payroll period of July 2016.</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Setting Modal -->

<!-- Delete Setting Modal -->
<div class="modal custom-modal fade" id="delete_setting" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Setting</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Setting Modal -->

