<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <!--
        <div class="col-sm-5 col-5">
            <h4 class="page-title">View Component Employee</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a  class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Close</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-5 col-5">
                        <h4 class="modal-title">View Component Employee</h4>
                    </div>
                    <button ui-sref="index.payroll-component-employee" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio2" id="radio3" value="option1">
                                    <label for="radio3">
                                        <strong>Default Components)</strong>
                                    </label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio2" id="radio3" value="option1">
                                    <label for="radio3">
                                        <strong>Selected Employee(s)</strong>
                                    </label>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-sm-3 col-form-label">Employee <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Search</option>
                                                <option>Atty Boedimilyarti</option>
                                                <option>Bambang Budi Susilo</option>
                                                <option>Antun Martono</option>
                                                <option>Edhi Soeharto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                    <label for="radio4">
                                        <strong>All Employee</strong>
                                    </label>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-sm-3 col-form-label">Office / Site</label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>All Office</option>
                                                <option>Head Office</option>
                                                <option>Surabaya Site</option>
                                                <option>Bontang Site</option>
                                                <option>Makassar Site</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-lg-3 col-form-label">Department</label>
                                    <div class="col-lg-5">
                                        <div class="form-group form-focus select-focus">
                                            <select class="select">
                                                <option>All Department</option>
                                                <option>Management</option>
                                                <option>Business Development</option>
                                                <option>Operation</option>
                                                <option>Maintenance</option>
                                                <option>Logistic</option>
                                                <option>Quality Assurance</option>
                                                <option>Safety & Security</option>
                                                <option>Finance & Accounting</option>
                                                <option>General Support</option>
                                            </select>
                                            <label class="focus-label">Select Department</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                                    </div>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-sm-3 col-form-label">Payment Cycle<span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Monthly</option>
                                                <option>Weekly</option>
                                                <option>Biweekly</option>
                                                <option>Annualy</option>
                                                <option>Holiday Allowance</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row offset-md-2">
                                    <label class="col-lg-4 col-form-label">Borned Tax Type<span class="text-danger">*</span></label>
                                    <div class="col-lg-8">
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                            <label for="inlineRadio1"> Non Cash  </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                            <label for="inlineRadio2"> Allowance </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Tax Borne By Company</th>
                                            <th>Printed</th>
                                            <th>Enabled</th>
                                            <th>Formula/Value</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>BasicSalary</td>
                                            <td>Basic Salary</td>
                                            <td>Neutral</td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>IK</td>
                                            <td>Iuran Koperasi</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>250000</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>M</td>
                                            <td>Mangkir</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>IIF(AbsentDayCount>=1,AbsentDayCount*(basicsalary/WorkdayCount) , 0)</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>L</td>
                                            <td>Lembur</td>
                                            <td>Allowance</td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>(0.0057*BasicSalary)*(AOTMinutes/60)</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>TA</td>
                                            <td>Tunjangan Absensi</td>
                                            <td>Allowance</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>IIF(AbsentCount>0, 0, IIF(LateMinutes>0, 0, 150000))</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Commission</td>
                                            <td>Commission/Bonus</td>
                                            <td>Allowance</td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Loan</td>
                                            <td>Loan Installment</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>BPJS_JKM_COMP</td>
                                            <td>BPJS - Life Insurance (Company Contribution)</td>
                                            <td>Non Cash Income</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>BPJS_JKK_COMP</td>
                                            <td>BPJS - Work Accident Insurance (Company Contribution)</td>
                                            <td>Non Cash Income</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>BPJS_JHT_COMP</td>
                                            <td>BPJS - Pesion Plan (Company Contribution)</td>
                                            <td>Non Cash Income</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>BPJS_JP_COMP</td>
                                            <td>BPJS - Pesion Fund (Company Contribution)</td>
                                            <td>Non Cash Income</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>BPJS_JKN_COMP</td>
                                            <td>BPJS - Health Insurance (Company Contribution)</td>
                                            <td>Non Cash Income</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-minus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>BPJS_JKM_EMP</td>
                                            <td>BPJS - Life Insurance</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>BPJS_JKK_EMP</td>
                                            <td>BPJS - Work Accident Insurance</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>BPJS_JHT_EMP</td>
                                            <td>BPJS - Pesion Plan</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>BPJS_JP_EMP</td>
                                            <td>BPJS - Pesion Fund</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>BPJS_JKN_EMP</td>
                                            <td>BPJS - Health Insurance</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>TaxAllowance</td>
                                            <td>Tax Allowance</td>
                                            <td>Allowance</td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>Tax</td>
                                            <td>Tax</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>Backpay</td>
                                            <td>Backpay</td>
                                            <td>Neutral</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>21</td>
                                            <td>BackpayDeduction</td>
                                            <td>Deducted for Backpay</td>
                                            <td>Deduction</td>
                                            <td class="text-center"><i class="fa fa-ban m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-check-square-o m-r-5"></i></a></td>
                                            <td class="text-center"><i class="fa fa-plus m-r-5"></i></a></td>
                                            <td>[Provided by System]</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="col-form-label">Available Components: </label>
                                        <input class="form-control" type="text" value="Search..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- View Payslip Modal -->
<div id="edit_component" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Payroll Component</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <label class="col-lg-4">Code </label>
                        <div class="col-lg-8">
                            Basic Salary
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Name</label>
                        <div class="col-lg-8">
                            Basic Salary
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Type</label>
                        <div class="col-lg-8">
                            Neutral
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Tax Class <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Not Taxable  </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Calculated Every Month  </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Not Calculated Every Month    </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Deduction  </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Tax Status <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Deducted from Income </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Borne by Company </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Enable </label>
                        <div class="col-lg-8">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Print on Pay Slip <span class="text-danger">*</span></label>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                <label for="inlineRadio1"> Yes  </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> No  </label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                <label for="inlineRadio2"> Print If Not Zero </label>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /View Payslip Modal -->

<!-- Delete Payroll Component Modal -->
<div class="modal custom-modal fade" id="delete_component" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Component Setting</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Payroll Component Modal -->