<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <!--
        <div class="col-sm-5 col-5">
            <h4 class="page-title">Add Component Employee</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a  class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Close</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12" style="margin: 0 auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-5 col-5">
                        <h4 class="modal-title">Add Component Employee</h4>
                    </div>
                    <button ui-sref="index.payroll-component-employee" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio2" id="radio3" value="option1">
                                    <label for="radio3">
                                        <strong>Default Components)</strong>
                                    </label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio2" id="radio3" value="option1">
                                    <label for="radio3">
                                        <strong>Selected Employee(s)</strong>
                                    </label>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-sm-3 col-form-label">Employee <span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Search</option>
                                                <option>Atty Boedimilyarti</option>
                                                <option>Bambang Budi Susilo</option>
                                                <option>Antun Martono</option>
                                                <option>Edhi Soeharto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                    <label for="radio4">
                                        <strong>All Employee</strong>
                                    </label>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-sm-3 col-form-label">Office / Site</label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>All Office</option>
                                                <option>Head Office</option>
                                                <option>Surabaya Site</option>
                                                <option>Bontang Site</option>
                                                <option>Makassar Site</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-lg-3 col-form-label">Department</label>
                                    <div class="col-lg-5">
                                        <div class="form-group form-focus select-focus">
                                            <select class="select">
                                                <option>All Department</option>
                                                <option>Management</option>
                                                <option>Business Development</option>
                                                <option>Operation</option>
                                                <option>Maintenance</option>
                                                <option>Logistic</option>
                                                <option>Quality Assurance</option>
                                                <option>Safety & Security</option>
                                                <option>Finance & Accounting</option>
                                                <option>General Support</option>
                                            </select>
                                            <label class="focus-label">Select Department</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                                    </div>
                                </div>
                                <div class="row offset-md-2">
                                    <label class="col-sm-3 col-form-label">Payment Cycle<span class="text-danger">*</span></label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>Monthly</option>
                                                <option>Weekly</option>
                                                <option>Biweekly</option>
                                                <option>Annualy</option>
                                                <option>Holiday Allowance</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row offset-md-2">
                                    <label class="col-lg-4 col-form-label">Borned Tax Type<span class="text-danger">*</span></label>
                                    <div class="col-lg-8">
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                            <label for="inlineRadio1"> Non Cash  </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                            <label for="inlineRadio2"> Allowance </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table mb-0 datatable">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Tax Borne By Company</th>
                                            <th>Printed</th>
                                            <th>Enabled</th>
                                            <th>Formula/Value</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_up"><i class="fa fa-arrow-up m-r-5"></i> Up</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_down"><i class="fa fa-arrow-down m-r-5"></i> Down</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_component"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_component"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="col-form-label">Available Components: </label>
                                        <input class="form-control" type="text" value="Search..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
