<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payslip List</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Add Leave</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Payment Cycle <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>Monthly</option>
                                <option>Weekly</option>
                                <option>Biweekly</option>
                                <option>Annual</option>
                            </select>
                            <label class="focus-label">Select Cycle</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Period <span class="text-danger">*</span></label>
                    <div class="col-lg-3">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019">
                        </div>
                    </div>
                    <div class="col-lg-1 text-md-center">To
                    </div>
                    <div class="col-lg-3">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Date <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="25 April 2019">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Office / Site</label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Office</option>
                                <option>Head Office</option>
                                <option>Surabaya Site</option>
                                <option>Bontang Site</option>
                                <option>Makassar Site</option>
                            </select>
                            <label class="focus-label">Select Office / Site</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Department</label>
                    <div class="col-lg-5">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Department</option>
                                <option>Management</option>
                                <option>Business Development</option>
                                <option>Operation</option>
                                <option>Maintenance</option>
                                <option>Logistic</option>
                                <option>Quality Assurance</option>
                                <option>Safety & Security</option>
                                <option>Finance & Accounting</option>
                                <option>General Support</option>
                            </select>
                            <label class="focus-label">Select Department</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-2">
                        <div class="">
                            <a href="#" class="btn btn-success btn-block"> Search </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a href="#" class="btn btn-secondary btn-block"> Update </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.payslip">Period List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.payslip-employee-list">Employee List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Payment Period</th>
                                <th>Employee No.</th>
                                <th>Name</th>
                                <th>Office</th>
                                <th>Department</th>
                                <th>Grade</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>March 2019</td>
                                <td>DAS 00000001</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Atty Boedimilyarti <span>Director</span></a>
                                    </h2>
                                </td>
                                <td>Main Office</td>
                                <td>Management</td>
                                <td>1</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payslip-employee"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>March 2019</td>
                                <td>DAS 00000004</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Atty Boedimilyarti <span>Business Development Manager</span></a>
                                    </h2>
                                </td>
                                <td>Main Office</td>
                                <td>Business Development</td>
                                <td>2B</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payslip-employee"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>March 2019</td>
                                <td>DAS 00000027</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Nindya Ariantika <span>Marketing Staff</span></a>
                                    </h2>
                                </td>
                                <td>Main Office</td>
                                <td>Business Development</td>
                                <td>4B</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payslip-employee"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                <td>March 2019</td>
                                <td>DAS 00000011</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                        <a href="#"> Bambang Budi Susilo <span>Chief Inspector</span></a>
                                    </h2>
                                </td>
                                <td>Hangar Halim</td>
                                <td>Quality Assurance</td>
                                <td>2A</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#view_payslip-employee"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                            <td>March 2019</td>
                            <td>DAS 00000022</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-09.jpg"></a>
                                    <a href="#"> Purwanto <span>Inspector</span></a>
                                </h2>
                            </td>
                            <td>Hangar Halim</td>
                            <td>Quality Assurance</td>
                            <td>3A</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#view_payslip-employee"><i class="fa fa-search m-r-5"></i> View</a>
                                    </div>
                                </div>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->

<!-- View Payslip Modal -->
<div id="view_payslip-employee" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payslips</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <label class="col-lg-4">Payment Cycle</label>
                        <div class="col-lg-8">
                            March 2019
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Attendance Period</label>
                        <div class="col-lg-8">
                            15 February 2019 - 16 March 2019
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Employee No.</label>
                        <div class="col-lg-8">
                            DAS 00000027
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Name</label>
                        <div class="col-lg-8">
                            Nindya Ariantika
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Job title</label>
                        <div class="col-lg-8">
                            Marketing Staff
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4">Department</label>
                        <div class="col-lg-8">
                            Business Development
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Attendance Parameters</h5>
                                        <div ibox-tools></div>
                                    </div>
                                    <div class="ibox-content no-padding=">
                                        <table class="table table-borderless">
                                            <tbody>
                                            <tr>
                                                <td>Total Working day</td>
                                                <td>:</td>
                                                <td>22 Days</td>
                                            </tr>
                                            <tr>
                                                <td>Total Absent day</td>
                                                <td>:</td>
                                                <td class="badge badge-danger">2 Days</td>
                                            </tr>
                                            <tr>
                                                <td>Total Overtime</td>
                                                <td>:</td>
                                                <td>3 Days</td>
                                            </tr>
                                            <tr>
                                                <td>Total Overtime Approve</td>
                                                <td>:</td>
                                                <td>2 Days</td>
                                            </tr>
                                            <tr>
                                                <td>Time Overtime Approve</td>
                                                <td>:</td>
                                                <td class="badge badge-success">8.20 Hours</td>
                                            </tr>
                                            <tr>
                                                <td>Total Trdn</td>
                                                <td>:</td>
                                                <td>0.22 Hours</td>
                                            </tr>
                                            <tr>
                                                <td>Total Early</td>
                                                <td>:</td>
                                                <td>1.02 Hours</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <tbody>
                            <tr>
                                <td>Basic Salary</td>
                                <td>Rp</td>
                                <td class="text-right"> 7,500,000.00 </td>
                            </tr>
                            <tr>
                                <td>Iuran Koperasi</td>
                                <td>Rp</td>
                                <td class="text-right">-250,000.00</td>
                            </tr>
                            <tr>
                                <td>Tunjangan Absensi</td>
                                <td>Rp</td>
                                <td class="text-right">0.00</td>
                            </tr>
                            <tr>
                                <td>BPJS - Pesion Plan</td>
                                <td>Rp</td>
                                <td class="text-right">-72,960.72</td>
                            </tr>
                            <tr>
                                <td>BPJS - Health Insurance</td>
                                <td>Rp</td>
                                <td class="text-right">-36,480.36</td>
                            </tr>
                            <tr style="border-bottom: 2px solid #000;">
                                <td>Tax</td>
                                <td>Rp</td>
                                <td class="text-right">-157,500.00</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Gross Total</td>
                                <td class="font-weight-bold">Rp</td>
                                <td class="font-weight-bold text-right">5,600,000.00</td>
                            </tr>
                            <tr>
                                <td>Deduction Total </td>
                                <td>Rp</td>
                                <td class="text-right">-400,441.08</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total</td>
                                <td class="font-weight-bold">Rp</td>
                                <td class="font-weight-bold text-right">5,199,558.92</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="text-right mb-4 clearfix">
                        <div class="col-sm-12 col-8 text-right m-b-30">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-white">PDF</button>
                                <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /View Payslip Modal -->


