<!-- Page Content -->
<div class="content container-fluid" style="margin-top: 58px;">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payslip List</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Add Leave</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Payment Cycle <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>Monthly</option>
                                <option>Weekly</option>
                                <option>Biweekly</option>
                                <option>Annual</option>
                            </select>
                            <label class="focus-label">Select Cycle</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Period <span class="text-danger">*</span></label>
                    <div class="col-lg-3">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019" datepicker-month-year="">
                        </div>
                    </div>
                    <div class="col-lg-1 text-md-center">To
                    </div>
                    <div class="col-lg-3">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019" datepicker-month-year="">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Date <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="25 April 2019">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Office / Site</label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Office</option>
                                <option>Head Office</option>
                                <option>Surabaya Site</option>
                                <option>Bontang Site</option>
                                <option>Makassar Site</option>
                            </select>
                            <label class="focus-label">Select Office / Site</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Department</label>
                    <div class="col-lg-5">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Department</option>
                                <option>Management</option>
                                <option>Business Development</option>
                                <option>Operation</option>
                                <option>Maintenance</option>
                                <option>Logistic</option>
                                <option>Quality Assurance</option>
                                <option>Safety & Security</option>
                                <option>Finance & Accounting</option>
                                <option>General Support</option>
                            </select>
                            <label class="focus-label">Select Department</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-success btn-block text-white"> Search </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-secondary btn-block text-white"> Update </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->

    <!-- Page Tab -->
    <div class="page-menu">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" ui-sref="index.payslip">Period List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" ui-sref="index.payslip-employee-list">Employee List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Tab -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Payment Period</th>
                                <th>Office</th>
                                <th>Department</th>
                                <th>Payment Date</th>
                                <th>Start Att. Date</th>
                                <th>End Att.Date</th>
                                <th class="text-center">Data Count</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>March 2019</td>
                                <td>Main Office</td>
                                <td>Management</td>
                                <td>25 Apr 2019</td>
                                <td>16 Mar 2019</td>
                                <td>15 Apr 2019</td>
                                <td class="text-center">2</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payslip-employee-list"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>March 2019</td>
                                <td>Main Office</td>
                                <td>Business Development</td>
                                <td>25 Apr 2019</td>
                                <td>16 Mar 2019</td>
                                <td>15 Apr 2019</td>
                                <td class="text-center">2</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payslip-employee-list"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>March 2019</td>
                                <td>Main Office</td>
                                <td>Logistic</td>
                                <td>25 Apr 2019</td>
                                <td>16 Mar 2019</td>
                                <td>15 Apr 2019</td>
                                <td class="text-center">8</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payslip-employee-list"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>March 2019</td>
                                <td>Main Office</td>
                                <td>Operation</td>
                                <td>25 Apr 2019</td>
                                <td>16 Mar 2019</td>
                                <td>15 Apr 2019</td>
                                <td class="text-center">17</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" data-toggle="modal" ui-sref="index.payslip-employee-list"><i class="fa fa-search m-r-5"></i> View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->


