<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payslip Print</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Add Leave</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Payment Cycle <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="form-group">
                            <select class="select">
                                <option>Monthly</option>
                                <option>Weekly</option>
                                <option>Biweekly</option>
                                <option>Annual</option>
                                <option>Holiday Allowance</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Period <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Template</label>
                    <div class="col-lg-7">
                        <div class="form-group">
                            <select class="select">
                                <option>-</option>
                                <option>A4</option>
                                <option>A5</option>
                                <option>A6</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contact-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio radio-danger">
                                <input type="radio" name="radio2" id="radio3" value="option1">
                                <label for="radio3">
                                    <strong>Selected Employee(s)</strong>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Employee <span class="text-danger">*</span></label>
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <select class="select">
                                            <option>Search</option>
                                            <option>Atty Boedimilyarti</option>
                                            <option>Bambang Budi Susilo</option>
                                            <option>Antun Martono</option>
                                            <option>Edhi Soeharto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio radio-danger">
                                <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                <label for="radio4">
                                    <strong>All Employee</strong>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Office / Site</label>
                                <div class="col-lg-7">
                                    <div class="form-group">
                                        <select class="select">
                                            <option>All Office</option>
                                            <option>Head Office</option>
                                            <option>Surabaya Site</option>
                                            <option>Bontang Site</option>
                                            <option>Makassar Site</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-lg-3 col-form-label">Department</label>
                                <div class="col-lg-5">
                                    <div class="form-group form-focus select-focus">
                                        <select class="select">
                                            <option>All Department</option>
                                            <option>Management</option>
                                            <option>Business Development</option>
                                            <option>Operation</option>
                                            <option>Maintenance</option>
                                            <option>Logistic</option>
                                            <option>Quality Assurance</option>
                                            <option>Safety & Security</option>
                                            <option>Finance & Accounting</option>
                                            <option>General Support</option>
                                        </select>
                                        <label class="focus-label">Select Department</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                                </div>
                            </div>
                            <div class="card-box">
                                <div class="form-group row">
                                    <label class="col-lg-6 col-form-label"><u>For printing payslip only</u> </label>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Starting from No.</label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>...</option>
                                                <option>1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Payslip Count </label>
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <select class="select">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>...</option>
                                                <option>1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label"></label>
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-success btn-sm btn-block text-white"> Print Excel </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a ui-sref="index.payslip" class="btn btn-success btn-sm btn-block"> Print PDF </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a ui-sref="index.payslip" class="btn btn-success btn-sm btn-block"> Email </a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
                -->
            </form>
        </div>
    </div>
    <!-- /Search Filter -->



<!-- /Page Content -->