
<div id="tree"/>
<script>
    var chart = new OrgChart(document.getElementById("tree"), {
        template: "ana",
        enableSearch: false,
        nodeBinding: {
            field_0: "name",
            field_1: "title",
            img_0: "img"
        },
        nodes: [
            { id: 1, name: "Management", title: "Director", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 2, pid: 1, name: "Business Development", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg"},
            { id: 3, pid: 1, name: "Quality Assurance", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg"},
            { id: 4, pid: 1, name: "Maintenance", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 5, pid: 1, name: "Logistic", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 6, pid: 5, name: "Purchasing", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 7, pid: 5, name: "Store", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 8, pid: 1, name: "Operation", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 9, pid: 8, name: "Pilot", title: "Chief Pilot", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 10, pid: 8, name: "FOO", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 11, pid: 1, name: "Safety & Security", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 12, pid: 1, name: "Finance & Accounting", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 13, pid: 12, name: "Finance", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 14, pid: 12, name: "Accounting", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 15, pid: 1, name: "General Support", title: "Manager", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 16, pid: 15, name: "GA", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 17, pid: 15, name: "HRD", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
            { id: 18, pid: 15, name: "IT", title: "Supervisor", img: "//balkangraph.com/js/img/empty-img-white.svg" },
        ]
    });
</script>

<style>



    #tree {
        width: 100%;
        height: 100%;
        position: relative;
    }
</style>
