<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-5">
            <h4 class="page-title">Promotion</h4>
        </div>
        <div class="col-sm-7 col-7 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_promotion"><i class="fa fa-plus"></i> Add Promotion</a>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <!-- Promotion Table -->
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Promoted Employee </th>
                        <th>Department</th>
                        <th>Promotion Designation From </th>
                        <th>Promotion Designation To </th>
                        <th>Promotion Date </th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <h2 class="table-avatar blue-link">
                                <a href="profile.html" class="avatar"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                                <a href="profile.html">John Doe</a>
                            </h2>
                        </td>
                        <td>Web Development</td>
                        <td>Web Developer</td>
                        <td>Sr Web Developer</td>
                        <td>28 Feb 2019</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_promotion"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_promotion"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /Promotion Table -->

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Promotion Modal -->
<div id="add_promotion" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Promotion For <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Promotion From <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" value="Web Developer" readonly>
                    </div>
                    <div class="form-group">
                        <label>Promotion To <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Web Developer</option>
                            <option>Web Designer</option>
                            <option>SEO Analyst</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Promotion Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input type="text" class="form-control datetimepicker">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Promotion Modal -->

<!-- Edit Promotion Modal -->
<div id="edit_promotion" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Promotion For <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" value="John Doe">
                    </div>
                    <div class="form-group">
                        <label>Promotion From <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" value="Web Developer" readonly>
                    </div>
                    <div class="form-group">
                        <label>Promotion To <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Web Developer</option>
                            <option>Web Designer</option>
                            <option>SEO Analyst</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Promotion Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input type="text" class="form-control datetimepicker">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Promotion Modal -->

<!-- Delete Promotion Modal -->
<div class="modal custom-modal fade" id="delete_promotion" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Promotion</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Promotion Modal -->