<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Payroll Setting - Basic Salary PSN</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_psn"><i class="fa fa-plus"></i> Add New PSN</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>Employee Name</label>
                <div class="form-group">
                    <input class="form-control" type="text" value="Harry Junaedi">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Employee ID</label>
                <div class="form-group">
                    <input class="form-control" type="text" value="DAS 00000080">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Position</label>
                <div class="form-group">
                    <input class="form-control" type="text" value="Driver">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Department</label>
                <div class="form-group">
                    <input class="form-control" type="text" value="General Support">
                </div>
            </div>
        </div>
    </div>
    <!-- /Search Filter -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">

            <!-- Print Button -->
            <div class="text-right mb-4 clearfix">
                <div class="col-sm-12 col-8 text-right m-b-30">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-white">CSV</button>
                        <button class="btn btn-white">PDF</button>
                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                    </div>
                </div>
            </div>
            <!-- /Print Button -->

            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Effective Date</th>
                                <th>Salary</th>
                                <th>F&T</th>
                                <th>Responsibility</th>
                                <th>Merit</th>
                                <th>Licenses</th>
                                <th>Others</th>
                                <th>Total</th>
                                <th>Checked by</th>
                                <th>Ref.</th>
                                <th class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>01 Dec 2016</td>
                                <td>3,000,000</td>
                                <td>500,000</td>
                                <td>200,000</td>
                                <td>100,000</td>
                                <td>150,000</td>
                                <td>50,000</td>
                                <td>4,000,000</td>
                                <td>Dudy Supriyanto</td>
                                <td><a href="#">SK/DAS/2016</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_psn"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_psn"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>01 Dec 2017</td>
                                <td>3,500,000</td>
                                <td>500,000</td>
                                <td>200,000</td>
                                <td>100,000</td>
                                <td>150,000</td>
                                <td>50,000</td>
                                <td>4,500,000</td>
                                <td>Dudy Supriyanto</td>
                                <td><a href="#">SK/DAS/2017</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_psn"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_psn"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr><tr>
                                <td>01 Dec 2018</td>
                                <td>4,000,000</td>
                                <td>500,000</td>
                                <td>200,000</td>
                                <td>100,000</td>
                                <td>150,000</td>
                                <td>50,000</td>
                                <td>5,000,000</td>
                                <td>Dudy Supriyanto</td>
                                <td><a href="#">SK/DAS/2018</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_psn"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_psn"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->

<!-- Add PSN Modal -->
<div id="add_psn" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add PSN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Effective Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Basic Salary <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>F&T <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Responsibility <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Merit <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Licenses <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Others <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reference Name</label>
                        <div class="form-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add PSN Modal -->

<!-- Edit PSN Modal -->
<div id="edit_psn" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add PSN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Effective Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" value="01 Dec 2018">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Basic Salary <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="4,000,000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>F&T <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text"value="500,000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Responsibility <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="200,000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Merit <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="100,000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Licenses <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="150,000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Others <span class="text-danger">*</span></label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="50,000">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reference Name</label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="SK/DAS/2018">
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit PSN Modal -->

<!-- Delete PSN Modal -->
<div class="modal custom-modal fade" id="delete_psn" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete PSN</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete PSN Modal -->

