<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Tax Setting</h4>
        </div>
        <!--
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Add Leave</a>
        </div>
        -->
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row">
        <div class="col-md-8">
            <form>
                <!--
                <div class="row">
                    <label class="col-lg-3 col-form-label">Payment Cycle <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>Monthly</option>
                                <option>Weekly</option>
                                <option>Biweekly</option>
                                <option>Annual</option>
                                <option>Holiday Allowance</option>
                            </select>
                            <label class="focus-label">Select Department</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Office / Site</label>
                    <div class="col-lg-7">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Office</option>
                                <option>Head Office</option>
                                <option>Surabaya Site</option>
                                <option>Bontang Site</option>
                                <option>Makassar Site</option>
                            </select>
                            <label class="focus-label">Select Office / Site</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-lg-3 col-form-label">Department</label>
                    <div class="col-lg-5">
                        <div class="form-group form-focus select-focus">
                            <select class="select">
                                <option>All Department</option>
                                <option>Management</option>
                                <option>Business Development</option>
                                <option>Operation</option>
                                <option>Maintenance</option>
                                <option>Logistic</option>
                                <option>Quality Assurance</option>
                                <option>Safety & Security</option>
                                <option>Finance & Accounting</option>
                                <option>General Support</option>
                            </select>
                            <label class="focus-label">Select Department</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox"><span class="form-text text-muted">Exclude Sub-Divisions</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Period <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="April 2019">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Payment Date <span class="text-danger">*</span></label>
                    <div class="col-lg-7">
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="25 April 2019">
                        </div>
                    </div>
                </div>
                -->
                <div class="form-group row">
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-success btn-sm btn-block text-white" data-toggle="modal" data-target="#add_new"> Add New </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-success btn-sm btn-block text-white" data-toggle="modal" data-target="#backup"> Backup </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <a class="btn btn-success btn-sm btn-block text-white" data-toggle="modal" data-target="#restore"> Restore </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Search Filter -->


    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Payment Cycle</th>
                        <th>Currency</th>
                        <th>Borned Tax Type</th>
                        <th>Name/Description</th>
                        <th>Value/Formula</th>
                        <th class="text-right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>BiayaJabatan</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Biaya Jabatan</td>
                        <td>Pct(5) * YearlyGrossIncome</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>BiayaJabatan2</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Biaya Jabatan tidak melebihi maks</td>
                        <td>IIF(BiayaJabatan > 6000000, 6000000, BiayaJabatan)</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>BiayaJabatan2</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Biaya Jabatan tidak melebihi maks</td>
                        <td>IIF(BiayaJabatan > 6000000, 6000000, BiayaJabatan)</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GrossIncomeTHR</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Gross Income THR</td>
                        <td>VariableIncome</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>NetIncome</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Net Income</td>
                        <td>YearlyNetIncome / 12</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>NetIncomeTHR</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Net Income THR</td>
                        <td>VariableIncome</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>PKP</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Kena Pajak</td>
                        <td>Down(YearlyNetIncome - PTKP, 1000)</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>PKPFixed</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Kena Pajak Hanya Fixed Income</td>
                        <td>Down(YearlyFixedNetIncome - PTKP, 1000)</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>PTKP</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Tidak Kena Pajak</td>
                        <td>IIF(MaritalStatus == "M", 58500000, 54000000) + IIF(DependantCount > 3, 3, DependantCount) * 4500000</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Tax</td>
                        <td>((YearlyTax / 12) + TaxVarIncome )* IIF(HasTaxNo, 1, 1.2)</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>TaxVarIncome</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Tax hanya Untuk Variabel Income</td>
                        <td>YearlyTax - YearlyFixedTax</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyFixedIncome</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Bulanan Disetahunkan</td>
                        <td>FixedIncome * 12</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyFixedNetIncome</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Fixed Netto Disetahunkan</td>
                        <td>YearlyFixedIncome - (IncomeDeduction * 12) - BiayaJabatan2</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyFixedTax</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Pajak Penghasilan Fixed Setahun</td>
                        <td>IIF(PKPFixed <= 50000000, 0.05 * PKPFixed, IIF(PKPFixed <= 250000000, 2500000 + 0.15 * (PKPFixed- 50000000), IIF(PKPFixed<= 500000000, 30000000 + 0.25 * (PKPFixed - 250000000), 95000000 + 0.3 * (PKPFixed - 500000000) ) ) )</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyGrossIncome</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Bruto Disetahunkan</td>
                        <td>YearlyFixedIncome + VariableIncome</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyNetIncome</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Penghasilan Netto Disetahunkan</td>
                        <td>YearlyGrossIncome - (IncomeDeduction*12) - BiayaJabatan2</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyTax</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>(All Type)</td>
                        <td>Pajak Setahun</td>
                        <td>IIF(PKP <= 50000000, 0.05 * PKP, IIF(PKP <= 250000000, 2500000 + 0.15 * (PKP - 50000000), IIF(PKP <= 500000000, 30000000 + 0.25 * (PKP - 250000000), 95000000 + 0.3 * (PKP - 500000000) ) ) )</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyFixedTax</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>Allowance</td>
                        <td>Pajak Penghasilan Fixed Setahun</td>
                        <td>IIF(PKPFixed<= 47500000, 5/95 * PKPFixed, IIF(PKPFixed<= 217500000, 2500000 + 15/85 * (PKPFixed- 47500000), IIF(PKPFixed<= 405000000, 32500000 + 25/75 * (PKPFixed- 217500000), 95000000 + 30/70 * (PKPFixed- 405000000) ) ) )</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>YearlyTax</td>
                        <td>Monthly</td>
                        <td>IDR</td>
                        <td>Allowance</td>
                        <td>Pajak Setahun</td>
                        <td>IIF(PKP <= 47500000, 5/95 * PKP, IIF(PKP <= 217500000, 2500000 + 15/85 * (PKP - 47500000), IIF(PKP <= 405000000, 32500000 + 25/75 * (PKP - 217500000), 95000000 + 30/70 * (PKP - 405000000) ) ) )</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_tax-setting"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_tax-setting"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add New Modal -->
<div id="add_new" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Tax Setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Code <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Name/Description <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Payment Cycle <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Biweekly</option>
                            <option>Annual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Currency <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>IDR</option>
                            <option>Euro</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Borned Tax Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>(All Type)</option>
                            <option>Non Cash</option>
                            <option>Allowance</option>
                        </select>
                        <span class="form-text text-muted">If 'All Type' and a specific type are both defined for the same Code then the setting for a specific type will be used.</span>
                    </div>
                    <div class="form-group">
                        <label>Value/Formula</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Available Components: </label>
                            <input class="form-control" type="text" value="Search..">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">System Components: </label>
                            <input class="form-control" type="text" value="Search..">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="4" class="form-control"></textarea>
                        <span class="form-text text-muted">Double click to choose</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add New Modal -->

<!-- Backup Modal -->
<div id="backup" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Backup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Archive Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                        <span class="form-text text-muted">Suggestion: The country code and year where/when the The Tax Components and their formula apply</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Backup Modal -->

<!-- Restore Modal -->
<div id="restore" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Backup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Archive Name <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>Mar 2019</option>
                            <option>Jan 2019</option>
                            <option>Mar 2018</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="checkbox"> Backup Previous File
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Archive Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text">
                        <span class="form-text text-muted">Suggestion: The country code and year where/when the The Tax Components and their formula apply</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Restore Modal -->

<!-- Edit Tax Modal -->
<div id="edit_tax-setting" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Tax Setting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Code <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Name/Description <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Payment Cycle <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Biweekly</option>
                            <option>Annual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Currency <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>IDR</option>
                            <option>Euro</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Borned Tax Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Please Select</option>
                            <option>(All Type)</option>
                            <option>Non Cash</option>
                            <option>Allowance</option>
                        </select>
                        <span class="form-text text-muted">If 'All Type' and a specific type are both defined for the same Code then the setting for a specific type will be used.</span>
                    </div>
                    <div class="form-group">
                        <label>Value/Formula</label>
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Available Components: </label>
                            <input class="form-control" type="text" value="Search..">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="4" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">System Components: </label>
                            <input class="form-control" type="text" value="Search..">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="4" class="form-control"></textarea>
                        <span class="form-text text-muted">Double click to choose</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Tax Modal -->

<!-- Delete tax Modal -->
<div class="modal custom-modal fade" id="delete_tax-setting" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Tax Setting</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete tax Modal -->
