<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col">
            <h4 class="page-title">Training</h4>
        </div>
        <div class="col-12 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#create_training"><i class="fa fa-plus"></i> Create Training</a>
            <div class="view-icons">
                <a ui-sref="index.training" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                <a ui-sref="index.training-list" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                <label class="focus-label">Until</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Status</option>
                    <option>Open</option>
                    <option>Closed</option>
                </select>
                <label class="focus-label">Status</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
            <div class="card-box project-box">
                <div class="dropdown dropdown-action profile-action">
                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_training"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_training"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="project-title"><a ui-sref="index.training-view">A4 - Motor Turbin (2)</a></h4>
                <small class="block text-ellipsis m-b-15">
                    <span class="text-xs">MTH Square </span> <span class="text-muted">- Ruang Meeting</span>
                </small>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. When an unknown printer took a galley of type and
                    scrambled it...
                </p>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Date:
                    </div>
                    <div class="text-muted">
                        17 Apr 2019 - 18 Apr 2019
                    </div>
                </div>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Time:
                    </div>
                    <div class="text-muted">
                        9.00 AM - 4.00 PM
                    </div>
                </div>
                <div class="project-members m-b-15">
                    <div>Instructor :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="Jeffery Lalor"><img alt="" src="img/profiles/avatar-16.jpg"></a>
                        </li>
                    </ul>
                </div>
                <div class="project-members m-b-15">
                    <div>Participants :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Doe"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Richard Miles"><img alt="" src="img/profiles/avatar-09.jpg"></a></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Smith"><img alt="" src="img/profiles/avatar-10.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Mike Litorus"><img alt="" src="img/profiles/avatar-05.jpg"></a>
                        </li>
                        <li class="dropdown avatar-dropdown">
                            <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+15</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="avatar-group">
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-02.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-09.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-10.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-05.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-11.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-12.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-13.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-01.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="img/profiles/avatar-16.jpg">
                                    </a>
                                </div>
                                <div class="avatar-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
            <div class="card-box project-box">
                <div class="dropdown dropdown-action profile-action">
                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_training"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_training"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="project-title"><a ui-sref="index.training-view">A4 - Motor Turbin (1)</a></h4>
                <small class="block text-ellipsis m-b-15">
                    <span class="text-xs">MTH Square </span> <span class="text-muted">- Ruang Meeting</span>
                </small>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. When an unknown printer took a galley of type and
                    scrambled it...
                </p>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Date:
                    </div>
                    <div class="text-muted">
                        17 Apr 2019
                    </div>
                </div>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Time:
                    </div>
                    <div class="text-muted">
                        9.00 AM - 4.00 PM
                    </div>
                </div>
                <div class="project-members m-b-15">
                    <div>Project Leader :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="Jeffery Lalor"><img alt="" src="img/profiles/avatar-16.jpg"></a>
                        </li>
                    </ul>
                </div>
                <div class="project-members m-b-15">
                    <div>Team :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Doe"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Richard Miles"><img alt="" src="img/profiles/avatar-09.jpg"></a></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Smith"><img alt="" src="img/profiles/avatar-10.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Mike Litorus"><img alt="" src="img/profiles/avatar-05.jpg"></a>
                        </li>
                        <li class="dropdown avatar-dropdown">
                            <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+15</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="avatar-group">
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-09.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-10.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-05.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-11.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-12.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-13.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-01.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-16.jpg">
                                    </a>
                                </div>
                                <div class="avatar-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
            <div class="card-box project-box">
                <div class="dropdown dropdown-action profile-action">
                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_training"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_training"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="project-title"><a ui-sref="index.training-view">SMS</a></h4>
                <small class="block text-ellipsis m-b-15">
                    <span class="text-xs">MTH Square </span> <span class="text-muted">- Ruang Meeting</span>
                </small>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. When an unknown printer took a galley of type and
                    scrambled it...
                </p>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Date:
                    </div>
                    <div class="text-muted">
                        17 Apr 2019
                    </div>
                </div>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Time:
                    </div>
                    <div class="text-muted">
                        9.00 AM - 4.00 PM
                    </div>
                </div>
                <div class="project-members m-b-15">
                    <div>Project Leader :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="Jeffery Lalor"><img alt="" src="img/profiles/avatar-16.jpg"></a>
                        </li>
                    </ul>
                </div>
                <div class="project-members m-b-15">
                    <div>Team :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Doe"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Richard Miles"><img alt="" src="img/profiles/avatar-09.jpg"></a></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Smith"><img alt="" src="img/profiles/avatar-10.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Mike Litorus"><img alt="" src="img/profiles/avatar-05.jpg"></a>
                        </li>
                        <li class="dropdown avatar-dropdown">
                            <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+15</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="avatar-group">
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-09.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-10.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-05.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-11.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-12.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-13.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-01.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-16.jpg">
                                    </a>
                                </div>
                                <div class="avatar-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
            <div class="card-box project-box">
                <div class="dropdown dropdown-action profile-action">
                    <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_training"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_training"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="project-title"><a ui-sref="index.training-view">AVSEC</a></h4>
                <small class="block text-ellipsis m-b-15">
                    <span class="text-xs">MTH Square </span> <span class="text-muted">- Ruang Meeting</span>
                </small>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. When an unknown printer took a galley of type and
                    scrambled it...
                </p>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Date:
                    </div>
                    <div class="text-muted">
                        17 Apr 2019
                    </div>
                </div>
                <div class="pro-deadline m-b-15">
                    <div class="sub-title">
                        Time:
                    </div>
                    <div class="text-muted">
                        9.00 AM - 4.00 PM
                    </div>
                </div>
                <div class="project-members m-b-15">
                    <div>Project Leader :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="Jeffery Lalor"><img alt="" src="img/profiles/avatar-16.jpg"></a>
                        </li>
                    </ul>
                </div>
                <div class="project-members m-b-15">
                    <div>Team :</div>
                    <ul class="team-members">
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Doe"><img alt="" src="img/profiles/avatar-02.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Richard Miles"><img alt="" src="img/profiles/avatar-09.jpg"></a></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="John Smith"><img alt="" src="img/profiles/avatar-10.jpg"></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" title="Mike Litorus"><img alt="" src="img/profiles/avatar-05.jpg"></a>
                        </li>
                        <li class="dropdown avatar-dropdown">
                            <a href="#" class="all-users dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+15</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="avatar-group">
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-09.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-10.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-05.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-11.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-12.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-13.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-01.jpg">
                                    </a>
                                    <a class="avatar avatar-xs" href="#">
                                        <img alt="" src="assets/img/profiles/avatar-16.jpg">
                                    </a>
                                </div>
                                <div class="avatar-pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Create Training Modal -->
<div id="create_training" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Training</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Training Name</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Venue</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Time</label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option>AM</option>
                                    <option>PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Until</label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option>AM</option>
                                    <option>PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Instructor</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Participants</label>
                                <div class="project-members">
                                    <a href="#" data-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                        <img src="img/profiles/avatar-16.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Team</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Members</label>
                                <div class="project-members">
                                    <a href="#" data-toggle="tooltip" title="John Doe" class="avatar">
                                        <img src="img/profiles/avatar-16.jpg" alt="">
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Richard Miles" class="avatar">
                                        <img src="img/profiles/avatar-09.jpg" alt="">
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="John Smith" class="avatar">
                                        <img src="img/profiles/avatar-10.jpg" alt="">
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Mike Litorus" class="avatar">
                                        <img src="img/profiles/avatar-05.jpg" alt="">
                                    </a>
                                    <span class="all-team">+2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload Files</label>
                        <input class="form-control" type="file">
                        <span class="form-text text-muted">* Recommended PDF file format</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Create Training Modal -->

<!-- Edit Training Modal -->
<div id="edit_training" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Training</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Training Name</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Venue</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="cal-icon">
                                    <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Time</label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option>AM</option>
                                    <option>PM</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Until</label>
                                <input placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select">
                                    <option>AM</option>
                                    <option>PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Instructor</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Participants</label>
                                <div class="project-members">
                                    <a href="#" data-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                        <img src="img/profiles/avatar-16.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Add Team</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Team Members</label>
                                <div class="project-members">
                                    <a href="#" data-toggle="tooltip" title="John Doe" class="avatar">
                                        <img src="img/profiles/avatar-16.jpg" alt="">
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Richard Miles" class="avatar">
                                        <img src="img/profiles/avatar-09.jpg" alt="">
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="John Smith" class="avatar">
                                        <img src="img/profiles/avatar-10.jpg" alt="">
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Mike Litorus" class="avatar">
                                        <img src="img/profiles/avatar-05.jpg" alt="">
                                    </a>
                                    <span class="all-team">+2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control summernote" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload Files</label>
                        <input class="form-control" type="file">
                        <span class="form-text text-muted">* Recommended PDF file format</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Training Modal -->

<!-- Delete Training Modal -->
<div class="modal custom-modal fade" id="delete_training" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Training</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Training Modal -->