<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col">
            <h4 class="page-title">Clients</h4>
        </div>
        <div class="col-12 text-right m-b-30">
            <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_client"><i class="fa fa-plus"></i> Add Client</a>
            <div class="view-icons">
                <a href="clients.html" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
                <a href="clients-list.html" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
    <!-- Page Title -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Client ID</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Client Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
                <select class="select floating">
                    <option>Select Company</option>
                    <option>Global Technologies</option>
                    <option>Delta Infotech</option>
                </select>
                <label class="focus-label">Company</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable">
                    <thead>
                    <tr>
                        <th width="30%">Vendor Name</th>
                        <th>Vendor ID</th>
                        <th>Contact Person</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th class="text-right">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">I</a>
                            <h2><a ui-sref="index.vendors-profile">Hotel Ibis <span>Sudirman Surabaya</span></a></h2>
                        </td>
                        <td>CLT-0001</td>
                        <td>John Doe</td>
                        <td>john.doe@ibis.co.id</td>
                        <td>08122334455</td>
                        <td>Hotel</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">I</a>
                            <h2><a ui-sref="index.vendors-profile">Hotel Ibis <span>Slipi Jakarta</span></a></h2>
                        </td>
                        <td>CLT-0002</td>
                        <td>John Doe</td>
                        <td>john.doe@ibis.co.id</td>
                        <td>08122334455</td>
                        <td>Hotel</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">S</a>
                            <h2><a ui-sref="index.vendors-profile">Skinet <span>Internet Provider</span></a></h2>
                        </td>
                        <td>CLT-0003</td>
                        <td>John Doe</td>
                        <td>john.doe@skinet.co.id</td>
                        <td>08122334455</td>
                        <td>IT</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">P</a>
                            <h2><a ui-sref="index.vendors-profile">Petronas <span>Oil &amp; Gas</span></a></h2>
                        </td>
                        <td>CLT-0004</td>
                        <td>Ruby Bartlett</td>
                        <td>ruby.bartlett@petronas.co.id</td>
                        <td>08122334455</td>
                        <td>Client</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">P</a>
                            <h2><a ui-sref="index.vendors-profile">Petronas <span>Oil &amp; Gas</span></a></h2>
                        </td>
                        <td>CLT-0005</td>
                        <td>Misty Tison</td>
                        <td>misty.tison@petronas.co.id</td>
                        <td>08122334455</td>
                        <td>Client</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">P</a>
                            <h2><a ui-sref="index.vendors-profile">Total <span>Oil &amp; Gas</span></a></h2>
                        </td>
                        <td>CLT-0006</td>
                        <td>Walter Weaver</td>
                        <td>walter.weaver@total.co.id</td>
                        <td>08122334455</td>
                        <td>Client</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">T</a>
                            <h2><a ui-sref="index.vendors-profile">Telkom <span>Internet Provider</span></a></h2>
                        </td>
                        <td>CLT-0007</td>
                        <td>John Doe</td>
                        <td>john.doe@telkom.co.id</td>
                        <td>08122334455</td>
                        <td>IT</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">C</a>
                            <h2><a ui-sref="index.vendors-profile">CloudKilat <span>Hosting Provider</span></a></h2>
                        </td>
                        <td>CLT-0007</td>
                        <td>John Doe</td>
                        <td>john.doe@cloudkilat.co.id</td>
                        <td>08122334455</td>
                        <td>IT</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">A</a>
                            <h2><a ui-sref="index.vendors-profile">Aneka Jaya <span>Office Supplies</span></a></h2>
                        </td>
                        <td>CLT-0008</td>
                        <td>John Doe</td>
                        <td>john.doe@anekajaya.co.id</td>
                        <td>08122334455</td>
                        <td>GA</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a ui-sref="index.vendors-profile" class="avatar">A</a>
                            <h2><a ui-sref="index.vendors-profile">AA Insurance <span>Insurance</span></a></h2>
                        </td>
                        <td>CLT-0009</td>
                        <td>John Doe</td>
                        <td>john.doe@aainsurance.co.id</td>
                        <td>08122334455</td>
                        <td>Insurance</td>
                        <td><span class="badge badge-success-border">Active</span></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a ui-sref="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#view_vendors"><i class="fa fa-search m-r-5"></i> View</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_vendors"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_vendors"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->