<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-8 col-6">
            <h4 class="page-title">Social Security (BPJS) Wage Limit</h4>
        </div>
        <div class="col-sm-4 col-6 text-right m-b-30">
            <a ui-sref="#" class="btn add-btn text-white" data-toggle="modal" data-target="#add_wage"><i class="fa fa-plus"></i> Add New</a>
        </div>
    </div>
    <!-- /Page Title -->

    <!-- Tab Content -->
    <div class="tab-content">

        <!-- Additions Tab -->
        <div class="tab-pane show active" id="tab_period">


            <!-- Period List -->
            <div class="card">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table mb-0 datatable">
                            <thead>
                            <tr>
                                <th>Office</th>
                                <th>Minimum (UMR)</th>
                                <th>Maximum</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Head Office</td>
                                <td>3,648,036.00</td>
                                <td>100,000,000</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#edit_wage"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" ui-sref="#" data-toggle="modal" data-target="#delete_wage"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /Period List -->

        </div>
        <!-- Additions Tab -->

    </div>
    <!-- /Tab Content -->



</div>
<!-- /Page Content -->

<!-- Add Wage Modal -->
<div id="add_wage" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Wage Limit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Office <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Main Office</option>
                            <option>Surabaya Site</option>
                            <option>Makassar Site</option>
                            <option>Bontang Site</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Minimum (UMR) </label>
                            <input class="form-control" type="text" value="">
                        </div>
                        <span class="form-text text-muted">The minimum amount that will be taken into account. If wage is lower then it will be raised.</span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Maximum </label>
                            <input class="form-control" type="text" value="">
                        </div>
                        <span class="form-text text-muted">The maximum amount that will be taken into account. If wage is higher then it will be cut. If input value is 0 then unlimited.</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add wage Modal -->

<!-- Edit Wage Modal -->
<div id="edit_wage" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wage Limit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Office <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Main Office</option>
                            <option>Surabaya Site</option>
                            <option>Makassar Site</option>
                            <option>Bontang Site</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Minimum (UMR) </label>
                            <input class="form-control" type="text" value="">
                        </div>
                        <span class="form-text text-muted">The minimum amount that will be taken into account. If wage is lower then it will be raised.</span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label">Maximum </label>
                            <input class="form-control" type="text" value="">
                        </div>
                        <span class="form-text text-muted">The maximum amount that will be taken into account. If wage is higher then it will be cut. If input value is 0 then unlimited.</span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit wage Modal -->

<!-- Delete Setting Modal -->
<div class="modal custom-modal fade" id="delete_wage" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Wage Limit</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Setting Modal -->

