<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Warning Letter</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a class="btn add-btn text-white" data-toggle="modal" data-target="#add_letter"><i class="fa fa-plus"></i> Add Letter</a>
        </div>
    </div>
    <!-- /Page Title -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" my-data-table="">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>From</th>
                        <th>Until</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Status</th>
                        <th>Resume</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>DAS 10000032</td>
                        <td><a href="javascript:void(0);">John Doe</a></td>
                        <td>9 Feb 2019</td>
                        <td>9 May 2019</td>
                        <td class="text-center">1</td>
                        <td class="text-center">
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-info"></i> New
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-info"></i> New</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-success"></i> Hired</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Rejected</a>
                                    <a class="dropdown-item"><i class="fa fa-dot-circle-o text-danger"></i> Interviewed</a>
                                </div>
                            </div>
                        </td>
                        <td><a class="btn btn-xs btn-primary text-white"><i class="fa fa-download"></i> Download</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#edit_letter"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#delete_letter"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Letter Modal -->
<div class="modal custom-modal fade" id="add_letter" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Your Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" type="text" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Name <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>Wahyu Desrum</option>
                            <option>Murtala</option>
                            <option>Harry Junaedi</option>
                            <option>Heriyanto</option>
                            <option>Subeki</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Until</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Upload your CV</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Add Letter Modal -->

<!-- Edit Letter Modal -->
<div class="modal custom-modal fade" id="edit_letter" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Your Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" type="text" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label>Name <span class="text-danger">*</span></label>
                        <select class="select">
                            <option class="selected">Wahyu Desrum</option>
                            <option>Murtala</option>
                            <option>Harry Junaedi</option>
                            <option>Heriyanto</option>
                            <option>Subeki</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Until</label>
                        <div class="cal-icon">
                            <input class="form-control floating datetimepicker" type="text" value="" datepicker="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>-</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Upload your CV</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cv_upload">
                            <label class="custom-file-label" for="cv_upload">Choose file</label>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- / Edit Letter Modal -->

<!-- Delete Letter Modal -->
<div class="modal custom-modal fade" id="delete_letter" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to delete this letter?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Letter Modal -->