<!-- Wrapper-->
<!--<div id="wrapper">-->

    <!--&lt;!&ndash; Navigation &ndash;&gt;-->
    <!--<div ng-include="'views/common/navigation.html'"></div>-->

    <!--&lt;!&ndash; Page wraper &ndash;&gt;-->
    <!--&lt;!&ndash; ng-class with current state name give you the ability to extended customization your view &ndash;&gt;-->
    <!--<div id="page-wrapper" class="gray-bg {{$state.current.name}}">-->

        <!--&lt;!&ndash; Page wrapper &ndash;&gt;-->
        <!--<div ng-include="'views/common/topnavbar.html'"></div>-->

        <!--&lt;!&ndash; Main view  &ndash;&gt;-->
        <!--<div ui-view></div>-->

        <!--&lt;!&ndash; Footer &ndash;&gt;-->
        <!--<div ng-include="'views/common/footer.html'"></div>-->

    <!--</div>-->
    <!--&lt;!&ndash; End page wrapper&ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; End wrapper&ndash;&gt;-->


<div ng-include="'views/common/topnavbar.html'"></div>

<div ng-include="'views/common/navigation.html'"></div>

<!-- Page Wrapper -->
<div class="page-wrapper">

    <ui-view></ui-view>

</div>
<!-- /Page Wrapper -->
