
<div ng-include="'views/common/topnavbar.html'"></div>

<div ng-include="'views/common/navigation-filemanajemen.html'"></div>

<!-- Page Wrapper -->
<div class="page-wrapper">

    <ui-view></ui-view>

</div>
<!-- /Page Wrapper -->
