<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu" side-navigation>
            <ul>
                <li>
                    <a href="index.html"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.employee-dashboard"><i class="la la-tachometer"></i> <span>Employee Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-building"></i> <span> Company</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a ui-sref-active="active" ui-sref="index.company-settings">Company Settings</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.site">Site</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.departments">Departments</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.divisions">Divisions</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.positions">Positions</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.positions-chart">Positions Chart</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.jobgrade">Job Grade</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.events">Events</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.announcement">Announcement</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.legal">Legal</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.certificates">Certificates</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.letters">Letters</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a ui-sref-active="active" ui-sref="index.employees">All Employees</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.licenses">Licenses</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.training">Training</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.projects">Projects</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.hrddata">HRD Database</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.performance">Performance Review</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.warningletter">Warning Letter</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.promotion">Promotion</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.resignation">Resignation</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.termination">Termination</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.jobs"> Manage Jobs </a></li>
                        <li><a ui-sref-active="active" ui-sref="index.job-applicants"> Applied Candidates </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="noti-dot"><i class="la la-calendar"></i> <span> Schedule</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a ui-sref-active="active" ui-sref="index.attendance">Attendance (Admin)</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.attendance-employee">Attendance (Employee)</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.leaves">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                        <li><a ui-sref-active="active" ui-sref="index.leaves-employee">Leaves (Employee)</a></li>
                        <!--
                        <li><a ui-sref-active="active" ui-sref="index.leave-settings">Leave Settings</a></li> -->
                        <li><a ui-sref-active="active" ui-sref="index.onduty">On Duty</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.overtime">Overtime</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.holidays">Holidays</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.work-schedule">Work Schedule</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.reimbursement">Reimbursement</a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.loan">Loan</a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.estimates">Estimates</a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.billing">Billing</a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.insurance">Insurance</a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.outpatient">Outpatient</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payroll-process"> Payroll Process </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payslip"> Payslip List </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payslip-print"> Print / Send Payslip </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payment-print"> Generate Payment File </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.bonus">Commission / Bonus </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.tax-setting"> Tax Setting </a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span> Payroll Setting</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.basic-salary">Basic Salary</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payment-setting">Payment Setting</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payroll-component">Payroll Component</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.payroll-component-employee">Payroll Component for Employee</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span> BPJS Setting</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.wage-limit">Wage Limit</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.contribution-percentage">Contribution Percentage</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span> Template Setting</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.template-payslip">Payslip</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.template-email">Email</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.template-report">Report per Component</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span> Holiday Allowance</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.holiday-allow-process">Process</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.holiday-allow-component">Component</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.holiday-allow-setting">Setting</a></li>
                            </ul>
                        </li>
                        <li><a ui-sref-active="active" ui-sref="index.payroll-account">Payroll Payment Account </a></li>
                        <!--
                        <li><a ui-sref-active="active" ui-sref="index.salary"> Payroll Process </a></li>
                        <li><a ui-sref-active="active" ui-sref=index.salary-view"> Payslip </a></li>
                        <li><a ui-sref-active="active" ui-sref="index.payroll-items"> Payroll Items </a></li>
                        -->
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-ticket"></i> <span> Request </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.complaints">Complaints </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.ticket">Ticket </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.hotel">Hotel </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.transport">Transport </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.expenses">Expenses </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.uniform">Uniform </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-book"></i> <span> Contacts </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.contacts">Contacts </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.vendors">Vendors </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-clipboard"></i> <span> Assets </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span> GA Assets</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.ga-assets">List Assets</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.ga-cars">Cars</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.ga-consumables">Consumables</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"> <span> IT Assets</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.it-assets">List Assets</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.it-components">Components</a></li>
                                <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.it-licenses">Software</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-at"></i> <span> IT Accounts</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.it-account">General</a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.it-account-user">Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.accounting"><i class="la la-credit-card"></i> <span>Accounting</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.koperasi"><i class="la la-bank"></i> <span>Koperasi</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.project"><i class="la la-list-alt"></i> <span>Project</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.budget"><i class="la la-calculator"></i> <span>Budget</span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.report-attendance">Attendance </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.report-reimbursement">Reimbursement </a></li>
                        <li><a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.report-loan">Loan </a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="filemanajemen.user"><i class="la la-folder"></i> <span>File Management</span></a>
                </li>
                <hr>
                <li>
                    <a href="javascript:void(0);" ui-sref-active="active" ui-sref="index.activities"><i class="la la-bell"></i> <span>Activities</span></a>
                </li>
                <li>
                    <a href="javascript:void(0);" ui-sref="setting.user"><i class="la la-cog"></i> <span>Settings</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
