<!-- Sidebar -->
<!--
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu" side-navigation>
            <ul>
                <li>
                    <a href="index.html"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="la la-building"></i> <span> Company</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a ui-sref-active="active" ui-sref="index.companysettings">Company Settings</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.site">Site</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.departments">Departments</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.positions">Positions</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.jobgrade">Job Grade</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.events">Events</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.announcement">Announcement</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.legal">Legal</a></li>
                        <li><a ui-sref-active="active" ui-sref="index.licenses">Licenses</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0);" ui-sref="index.settings"><i class="la la-cog"></i> <span>untuk setting</span></a>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu" side-navigation>
            <ul>
                <li>
                    <a href="index.html"><i class="la la-home"></i> <span>Back to Home</span></a>
                </li>
                <li class="menu-title">Settings</li>
                <li class="active">
                    <a href="settings.html"><i class="la la-building"></i> <span>Company Settings</span></a>
                </li>
                <li class="active">
                    <a href="settings.html"><i class="la la-building"></i> <span>Religion</span></a>
                </li>
                <li>
                    <a href="localization.html"><i class="la la-clock-o"></i> <span>Localization</span></a>
                </li>
                <li>
                    <a href="theme-settings.html"><i class="la la-photo"></i> <span>Theme Settings</span></a>
                </li>
                <li>
                    <a href="roles-permissions.html"><i class="la la-key"></i> <span>Roles & Permissions</span></a>
                </li>
                <li>
                    <a href="email-settings.html"><i class="la la-at"></i> <span>Email Settings</span></a>
                </li>
                <li>
                    <a href="invoice-settings.html"><i class="la la-pencil-square"></i> <span>Invoice Settings</span></a>
                </li>
                <li>
                    <a href="salary-settings.html"><i class="la la-money"></i> <span>Salary Settings</span></a>
                </li>
                <li>
                    <a href="notifications-settings.html"><i class="la la-globe"></i> <span>Notifications</span></a>
                </li>
                <li>
                    <a href="change-password.html"><i class="la la-lock"></i> <span>Change Password</span></a>
                </li>
                <li>
                    <a href="leave-type.html"><i class="la la-cogs"></i> <span>Leave Type</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
